[2018-07-05 02:45] mikegrb opened #2 "Probably A Config Issue"
Should this config be valid? The state bit from the prior entity-filter wasn't mentioned for monster-card but I assume it supports similiar.
[code]

This generates an error:
`local/monster-card.js:52:46 Uncaught TypeError: Cannot read property 'filter' of undefined`

I assume this is just a configuration issue on my part but there wasn't sufficient examples for me to see what I might be doing wron

[2018-07-05 03:11] mikegrb commented on #2
Looks like this might be a version mismatch issue. I'm not on the RC so the card's config is at this.config rather than at this._config where the code is looking, I assume that is where it is in the RC?

[2018-07-05 06:04] ciotlosm commented on #2
I just tried your config with latest `monster-card` code (make sure you clear cache) and it worked:
[code]

I am running version 0.73.b6 of Home Assistant.

[2018-07-05 11:44] mikegrb commented on #2
Okay, updated to b6 and I'm all set.  Thanks for your time and even more thanks for the monster card.

[2018-07-05 11:44] #2 closed

[2018-07-06 06:46] ludeeus opened #3 "FR: Option to filter on attributes."
It would be great to ba able to filter entities based on attributes.
Some usecases for it:
I have a [custom_component to interact with ha-dockermon](https://github.com/custom-components/switch.hadockermon)
This component and many others add attributes with info to make them differentiate from the others:
![image](https://user-images.githubusercontent.com/15093472/42363431-f49cb966-80f7-11e8-9e6b-6

[2018-07-06 08:49] ciotlosm commented on #3
Fixed in latest update. Config looks like:

[code]
Docs updated as well

[2018-07-06 08:49] #3 closed

[2018-07-06 16:28] ciotlosm opened #4 "Thermostat card"
See https://codepen.io/dalhundal/pen/KpabZB  for inspiration for SVG

[2018-07-06 16:29] ciotlosm opened #5 "Build a card for toggle entities"
Build a card for toggle entities to allow just the icon in big format and a custom title underneath.

- use entity icon by default
- allow custom icon
- action should be on/off

Difference from entity-picture with image states is for lights that show color and respect themes

[2018-07-06 16:34] ciotlosm opened #6 "Bignumber-card to support severity levels as background"
Add "severity" for `bignumber-card` as background

[2018-07-06 20:43] cogneato opened #7 "Bignumber to support meter style background"
Card that fills with color meter-style horizontally or vertically. Maybe as an option for bignumber? Could be used together with horizontal stacks to create a row of meters or combined with gauges and bignumber.

[2018-07-07 13:28] sdomotica opened #9 "Gauge Ok in Chrome Ko in Firefox"
Firefox
![immagine](https://user-images.githubusercontent.com/781294/42411334-55944420-81fa-11e8-843f-6744f31c30db.png)
Chrome
![immagine](https://user-images.githubusercontent.com/781294/42411344-69007380-81fa-11e8-8721-cf50524a4571.png)

[2018-07-07 15:24] ciotlosm commented on #9
I will have a look tomorrow

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-08 09:37] ciotlosm opened #10 "Create entity-attributes-card"
Create entity-attributes-card:

- allow choosing attributes to display
- allow renaming attributes
- allow renaming card

Attributes should show on card as a table with alternating color rows

[2018-07-08 09:41] ciotlosm opened #11 "Bignumber card to have better scaling"
Bignumber card to have better scaling  Maybe even alow scla number like gauge to have the height match

[2018-07-08 09:56] ciotlosm opened #12 "Entity filter with special condition"
Create a custom card that uses condition instead of filter to determine if the card should display itself or not.

The card should use entities list like rest of cards

[2018-07-08 20:17] ciotlosm commented on #9
@sdomotica can you try it now with latest card version?

[2018-07-08 20:38] sdomotica commented on #9
I'm running offical 0.73 and I use your last released version
![immagine](https://user-images.githubusercontent.com/781294/42423724-a00c4d30-82ff-11e8-934f-d380cd3091d0.png)

[2018-07-08 20:41] ciotlosm commented on #9
Woups! My push was rejected, forgot to rebase. Can you please try now?

[2018-07-08 20:51] ciotlosm opened #13 "Beast card - Unused entities clone"
Allow a new card that would:
- reverse all monster card filters to show everything else that is not matching
- use current unused entities card to filter down even more
- allow extra filtering to avoid showing automations or groups for example

[2018-07-08 22:01] sdomotica commented on #9
standalone now works, but inside horizontal not
![immagine](https://user-images.githubusercontent.com/781294/42424343-2ecb016e-830b-11e8-93ba-508b330ee0db.png)
Chrome it's ok
![immagine](https://user-images.githubusercontent.com/781294/42424347-3c8cb3f6-830b-11e8-962a-47207342e569.png)

[2018-07-08 23:43] ciotlosm commented on #10
Implemented choosing attributes and naming card. Remains to rename attributes. I'll close this and reopen if requests to rename arrive.

[2018-07-08 23:43] #10 closed

[2018-07-09 06:13] ciotlosm commented on #9
I will have a look in the afternoon. I tested Chrome and Opera but Firefox I only have on other computer (and there are restrictions to install it)

[2018-07-09 07:54] ciotlosm commented on #11
fixed

[2018-07-09 07:54] #11 closed

[2018-07-09 09:07] ciotlosm commented on #6
Fixed

[2018-07-09 09:07] #6 closed

[2018-07-09 10:56] ciotlosm commented on #9
@sdomotica I did some updates with shadowroot that might isolate style a bit more. Not sure if it fixes anything as I haven't tested, but maybe you can give it a go.

I also updated bignumber card to include "Scale" so you can use the same "scale" on both cards and they will match height.

[2018-07-09 12:18] ciotlosm commented on #12
fixed in monster-card

[2018-07-09 12:18] #12 closed

[2018-07-09 12:53] ciotlosm commented on #5
Won't build for now. Seems can be done with other cards.

[2018-07-09 12:53] #5 closed

[2018-07-09 13:46] ciotlosm commented on #7
Adding this http://jsfiddle.net/75Umu/3/ to use as base CSS. I probably will implement on top of bignumber. It will get activated when you set min/max.

[2018-07-09 13:55] ciotlosm opened #15 "Attributes card - allow custom attribute name and entity source"
Attributes card allow more custom approach:

[code]

[2018-07-09 15:13] kylerw opened #16 "Implement show_header_toggle on monster-card"
According to docs, `show_header_toggle` on monster-card not available at the moment

[2018-07-09 15:21] kylerw opened #17 "Allow calculation within filter/state"
Example:

[code]

[2018-07-09 16:20] ciotlosm commented on #9
Ok, found the problem. On your setup you need to go do:
[code]
and the set to true:
[code]
and
[code]

[2018-07-09 16:20] #9 closed

[2018-07-09 18:41] ciotlosm opened #19 "New card: Alarm"
New card: Alarm with code buttons

[2018-07-09 19:17] matisaul opened #20 "Custom color severity on bignumber"
Maybe you could add a custom color into severity. For example:
[code]

Just an idea. This is good for setting colors on temperatures sensors (blue for cold levels, red in high temp.)

[2018-07-09 19:38] ciotlosm opened #21 "Monster card: Add support for friendly name filtering"
Monster card: Add support for friendly name filtering using *

[2018-07-09 20:01] kylerw opened #22 "_getEntities is not defined for Monster card"
receiving
[code]
 using:

[code]

if I comment out the exclude, it works fine.

[2018-07-09 20:03] thomasloven opened #23 "Entities not showing up in order they are matched"
Example:
[code]
This will list all automations, followed by `sensor.automations_all` and `sensor.automations_on`.

I assume entities are displayed in alphabetical order. In order of matching by include list would be more intuitive and homogenized with how other cards work.

[2018-07-09 20:04] ciotlosm commented on #22
It was a but that is not fixed. You can increment v= in your ui-lovelace.yaml under resources to make sure you don't get served a cached entry.

[2018-07-09 20:06] ciotlosm commented on #23
@thomasloven you are correct. I run an entities.sort based on their entity_id. Sorting is tricky with includes and excludes, but if you think of a better system happy to review a PR.

[2018-07-09 20:06] #22 closed

[2018-07-09 20:21] dshokouhi commented on #19
Awesome, would it be possible to include the different alarm state buttons as well?  Currently we are missing Armed Night and others (Custom) I think.  Not sure if this is a lovelace card thing though but wanted to mention it here.

[2018-07-09 20:22] dshokouhi commented on #17
This would be great to also show when certain rooms have high temperature or humidity :)

[2018-07-09 20:23] ciotlosm commented on #19
As it's a custom card, probably it can be included. I have to check how it will look  but it's on my todo list.

[2018-07-10 13:03] magnusoverli commented on #16
I´d like to +1 this request.

Fantastic work on the monster-card! A real timesaver!!

[2018-07-10 15:42] dshokouhi opened #28 "Feature Request: Status panel/card"
I was thinking it would be really neat if we could have a card that only shows up when entity-filter cards defined underneath have no entities and have `show_empty: false` defined.  Think of it as a user who wants to place all safety/security items in entity-filters.  Let's say I have a few different filters setup to show if the house detected leaks, smoke detectors going off, doors/windows open o

[2018-07-10 15:51] ciotlosm commented on #15
Fixed in dev for now: https://github.com/ciotlosm/custom-lovelace/tree/dev/entity-attributes-card

[2018-07-10 15:55] ciotlosm commented on #28
I think this should already be possible in the near future with `entity-filter` and `picture-entity`.

See the sample I posted that is coming soon:

[code]

[2018-07-10 18:02] ciotlosm commented on #28
I will close this item as it will be doable without custom cards in next release with https://github.com/home-assistant/home-assistant-polymer/pull/1431 and the code above

[2018-07-10 18:02] #28 closed

[2018-07-10 18:21] ciotlosm opened #29 "Remove the need for entity when using entity-attributes-card"
Since https://github.com/home-assistant/home-assistant-polymer/pull/1404 we can use entity-attributes-card in other entities card.

We need a fix to remove the need for entity as the custom card no longer needs it.

[2018-07-10 18:44] ciotlosm commented on #16
@kylerw Are you using it with entities or glance? Entities card should get the header by default.

[2018-07-10 20:36] kylerw commented on #16
Doesn't appear to be

[code]

Is one example of where I am using it.

[2018-07-10 20:39] ciotlosm commented on #16
`show_header_toggle: false` should be `show_header_toggle: true` or removed completely.

Or maybe I don't understand it properly. If you actually want to remove header toggle you'd be doing:

[code]

[2018-07-10 20:51] kylerw commented on #16
Thanks for clarifying. I misunderstood the structure of how that should be outlined.

[2018-07-10 20:51] #16 closed

[2018-07-10 20:53] ciotlosm commented on #16
No problem. I'll add it to the docs as well

[2018-07-10 20:57] #23 closed

[2018-07-10 20:57] ciotlosm commented on #20
Fixed, see docs

[2018-07-10 20:57] #20 closed

[2018-07-10 20:57] ciotlosm commented on #7
Fixed, see docs

[2018-07-10 20:57] #7 closed

[2018-07-10 20:58] ciotlosm commented on #15
Fixed in master, see docs

[2018-07-10 20:58] #15 closed

[2018-07-10 21:18] ciotlosm commented on #29
won't fix, can use dummy entity

[2018-07-10 21:18] #29 closed

[2018-07-10 21:23] ciotlosm opened #31 "Improve versioning for users"
Add versioning to cards. This should permit users to:
- Find out when new versions are out
- Get a change-log of updates
- Allow for easier cache busting than manual ?v=X

[2018-07-11 05:07] ciotlosm opened #32 "Coordinates for floorplan"
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-11 05:07] ciotlosm opened #33 "More info on bignumber"
Clicking bignumber card doesn't open more-info dialog

[2018-07-11 05:07] ciotlosm opened #34 "Monster-card as panel"
Users report that using `panel: true` in lovelace with monster-card breaks.

[2018-07-11 06:07] ciotlosm opened #35 "Beer card"
A card that displays a multiline text in a nicer format and allows for a custom icon either from sensor or specified in the config or if both missing, shows a `mdi:beer`.

![unknown](https://user-images.githubusercontent.com/7738048/42553470-b02afc0c-84e9-11e8-81f6-1782709cf067.png)

Sample input

[code]

[2018-07-11 08:42] ciotlosm commented on #35
Added in 'dev' branch

[2018-07-11 10:52] ciotlosm commented on #35
Closed in https://github.com/ciotlosm/custom-lovelace/pull/36

[2018-07-11 10:52] #35 closed

[2018-07-11 10:52] ciotlosm commented on #33
Closed in https://github.com/ciotlosm/custom-lovelace/pull/36

[2018-07-11 10:52] #33 closed

[2018-07-11 11:01] ciotlosm commented on #34
This is a bug in Lovelace. It doesn't support yet custom cards as panels.

The reason is `on-rebuild-view='_debouncedConfigChanged'` is fired in `hui-view` instead of `hui-root` as balloob pointed out.

I will link to a PR once someone gets to it.

[2018-07-11 16:04] alex-savin opened #39 "Option to remove sensor titles on Glance Card"
Option to remove sensor titles on Glance Card and for Glance Card itself

[2018-07-11 17:50] ciotlosm commented on #39
@alex-savin this repository is for custom cards. For core Lovelace cards feedback and issue please use https://github.com/home-assistant/ui-schema/issues. There is already a similar issue there: https://github.com/home-assistant/ui-schema/issues/33

[2018-07-11 17:50] #39 closed

[2018-07-11 19:15] ciotlosm commented on #34
Seems to be fixed in latest dev of home-assistant-polymer

[2018-07-11 19:19] ciotlosm commented on #31
- Added VERSION file in card folder that will get incremented manually on new features or bug fixes.
- Changelog will be added on next version increment

For cache bust users might need to use a custom script to update resources automatically and append v=VERSION based on VERSION files in the repo.

[2018-07-11 20:52] kylerw commented on #31
Is this local or intended to allow us to update from your repo? Would love a way to be notified if updates exist in the rep!

[2018-07-11 21:49] ciotlosm commented on #17
This is a bit more complex to implement to allow also current functionality, but it's a useful functionality so it will get implemented in the near future.

[2018-07-11 22:45] ludeeus commented on #31
@kylerw sounds like you want these:
https://github.com/custom-components/custom_cards
https://github.com/custom-components/sensor.custom_cards

[2018-07-12 07:16] claudioita opened #42 "Big numbner .. too big"
I think the numbers are a bit too big. Definetely there is a bug when in horizontal stack you put 3 cards: in portait mode the third number is cutoff, in landscape is totally absent

[2018-07-12 07:48] ciotlosm commented on #42
@claudioita have you tried using `scale:` parameter to scale the card down when using stack of 3?

[2018-07-12 07:57] ciotlosm commented on #34
It needs a PR https://github.com/home-assistant/home-assistant-polymer/pull/1437 as the latest dev still has a race condition

[2018-07-12 09:16] claudioita commented on #42
I didn't use scale before.
Now I useed it, and yes it helps, problem is that the card size changes, and you can find the correct value (playing with it right now), but the text inside the card becomes very small (no matter which scale value you put)

[2018-07-12 09:19] ciotlosm commented on #42
I recommend using `scale: 30px` and see how it looks

[2018-07-12 15:42] dshokouhi opened #44 "Sometimes Monster Cards Show Blank"
I have noticed this odd issue with my monster cards that show up as blank until I hit "refresh" when coming from another tab.  I am using Chrome 67 on Windows 10, have also cleared cache but the issue keeps coming back.  This is what it looks like:

![monster-blank](https://user-images.githubusercontent.com/1634145/42643909-21ad6caa-85af-11e8-9596-bc074e139f61.png)

This is what my configuration l

[2018-07-12 15:47] ciotlosm commented on #44
This was a bug corrected some time ago (https://github.com/ciotlosm/custom-lovelace/commit/29d210adea77f29661e554d0cde9e91de2300c63#diff-8b2c45b836e58d0cec1f55baf87a7e80) Make sure you update to the latest version, and add ?v=0.0.1 at the end of your "resources" URL to get latest version.

[2018-07-12 15:50] dshokouhi commented on #44
ok trying that now

[2018-07-12 15:52] dshokouhi commented on #44
thank you for the quick reply :)

[2018-07-12 15:52] #44 closed

[2018-07-12 17:48] ciotlosm commented on #13
I will not build this. It's easier to just use current unused and build a reverse condition monster card.

[2018-07-12 17:48] #13 closed

[2018-07-12 17:50] ciotlosm commented on #31
Draft card here: https://github.com/ciotlosm/custom-lovelace/tree/update_sensor/cardtracker-card

[2018-07-12 18:00] kylerw opened #47 "plan-coordinates doesn't work when panel: true"

[2018-07-12 18:05] ciotlosm commented on #47
This is expected, because `panel: true` will load only 1st card in view, and panel-coordinates is a card. However working in non panel mode will still give you same coordinates as it's % based.

[2018-07-12 19:29] tatunts opened #51 "Cannot get entity attributes card to work :("
Hello everyone! I've been trying for a couple of days without success get this useful custom card to work.

I want to create a cart just for the vacuum, but I get this:

![image](https://user-images.githubusercontent.com/25224882/42654865-807f5e64-85f0-11e8-9914-b80fa303ccae.png)

This is my code:

[code]

Here is the list of all attributes:

[code]

Did I miss something here?

Thanks a lot!

[2018-07-12 19:40] ciotlosm commented on #51
@tatunts did you do steps in the [FAQ](https://github.com/ciotlosm/custom-lovelace/#faq)?
Do you have any Javascript errors in the Console?

Are you sure you cleared your cache? Usually it's easier to just add at the end of your resources ?v=1 or a higher number if you already had 1 to force browsers to ignore the cache.

[2018-07-13 02:29] accelle17 commented on #19
Thanks. It shows up as a card. However, as soon as I put my cursor to the Alarm code, it goes out and cannot type anymore. Same thing with the number buttons, nothing shows up on the alarm code field.
Also, as soon as I open the view with the alarm code card on it, the browser goes to HTTPS ( im only using http).
ERROR from chrome console:
This page includes a password or credit card input in a no

[2018-07-13 07:20] ciotlosm commented on #19
@accelle17 the card is far from complete. I just got some basic things done, but it's far from usable. The reason I posted the URL is that others that might want to contribute to have a base to work on as well.

[2018-07-13 07:22] ciotlosm commented on #17
It seems that for some use cases around 'state' this doesn't work as it should.

[2018-07-13 07:44] #17 closed

[2018-07-13 12:35] ciotlosm commented on #47
@kylerw can you try to use a horizontal-stack with panel: true and inside the horizontal stack to use both the plan-coordinates and picture-elements?

[2018-07-13 12:45] tatunts commented on #51
Hello @ciotlosm! Thanks for your reply

I have these errors:

[code]

I've also cleared cache and change the resource path for the js...

Thanks!

[2018-07-13 16:22] kylerw commented on #47
@ciotlosm that does work - pushes the image to one side or the other (depending what card you put first). This is actually nice because it fits to height rather than width and requiring a scroll but on smaller screens doesn't display as well.

![image](https://user-images.githubusercontent.com/370860/42702335-6c29fd0c-8686-11e8-8fb2-01b053a2c408.png)

![image](https://user-images.githubusercontent

[2018-07-13 16:25] kylerw commented on #47
vertical-stack actually works best and closest to what you would expect -

![image](https://user-images.githubusercontent.com/370860/42702482-e3385538-8686-11e8-886c-28c8360c0152.png)

now for a feature request for an option to fit picture-element with panel: true to width rather than height.

[2018-07-13 16:29] ciotlosm commented on #51
@tatunts happy to close this issue?

[2018-07-13 16:34] kylerw commented on #47
I'll try to put something together. Thanks for the help and guidance.

[2018-07-13 16:34] #47 closed

[2018-07-13 17:32] tatunts commented on #51
Sorry @ciotlosm, I was not able to fix it, I just replied with the information you had asked. The card still does not show any attributes. Any ideas? Thanks a lot for your time to help me!

[2018-07-13 18:52] ciotlosm commented on #51
@tatunts The js errors show more problems with the platform, but not specific to this custom card. If you want you can join Discord channel (https://discord.gg/c5DvZ4e) and ping people on #lovelace channel.

[2018-07-13 20:02] tatunts commented on #51
@ciotlosm ok, got it! So there is nothing wrong with my code, right? Thanks again!

[2018-07-13 20:31] ciotlosm commented on #51
Doesn't seem like it, but as I mentioned, I'm mostly on discord and there are also others that could help out easier than this slow going on github issue comments :)

[2018-07-13 21:52] ciotlosm commented on #51
It seems the problem is with Lovelace and people running Home Assistant on HTTP. Lovelace uses a service worker and Chrome specifically blocks some things for the service worker if it's not using TLS (HTTPS).

If you want to run HTTP you must call your home assistant either from localhost, or from something with .local or use HTTPS

[2018-07-14 12:45] tatunts commented on #51
Thanks @ciotlosm! I will enable HTTPS ASAP, had many problem with HomeBridge but now using HomeKit native and am about to migrate do HassOS. Thanks for your time! It helped a great deal sir. Cheers!

[2018-07-14 12:45] #51 closed

[2018-07-14 20:38] ciotlosm commented on #19
Implemented basic version in dev

[2018-07-14 20:43] ciotlosm commented on #31
Implemented in master. Needs some docs updated on backend side.

[2018-07-14 20:43] #31 closed

[2018-07-14 20:43] ciotlosm commented on #19
Need testers.

Not tested yet:
- triggering alarm and how it will behave/look on the UI.

[2018-07-15 09:35] swetoast opened #70 "Greeter card"
A Personal greeter card that shows calendar events from calendar sensor and time of day and any additional sensor that the user wants

dynamic backgrounds from unsplash using their api lib already available

https://github.com/unsplash/unsplash-js

got a mock card layout as a suggestion

![image](https://user-images.githubusercontent.com/2525304/42732499-142daba0-8823-11e8-8d99-183c54aee90b.png)

[2018-07-15 12:13] ciotlosm commented on #34
PR merged in. Will be fixed in 0.74

[2018-07-15 12:13] #34 closed

[2018-07-15 20:28] gwww opened #71 "Alarm card doesn't show keypad"
The alarm card does not show the keypad because it is checking if code_format return type is a Number. Many panels that exist in the current components for homeassistant return code_type as a string regex.

[2018-07-15 20:35] gwww opened #72 "Alarm card: allow "auto enter" after set number of digits"
After a configured number of digits are entered, say 4, automatically call the service with the code. Allow the user to press "away", "home", etc before code is submitted and that becomes the arm type that is sent with the code.

Example config:
`auto_arm_length: 4`
`default_auto_arm: arm_away`

Example UX:
User presses "Arm home" (this changes from the default arm_away)
User presses 4 digits and

[2018-07-15 20:45] arsaboo opened #73 "Colors/icons for alarm card"
As discussed on Discord, we should probably change the colors on the card to make them in line with the standard practice. I am attaching a few examples that I found online that should make the color choices clear:

![image](https://user-images.githubusercontent.com/18319734/42738171-59632748-884d-11e8-96dc-988d2a47a6d8.png)
![image](https://user-images.githubusercontent.com/18319734/42738202-c630

[2018-07-15 23:26] alex-savin opened #75 "Lock Card"
Thank You for you work!

I would like to ask a new Lock Card!
Something like this

![lock-card](https://user-images.githubusercontent.com/10366351/42739415-e2d0d216-8864-11e8-9704-cccda2219e7a.png)

[2018-07-16 00:05] loudmicro commented on #71
same here! intrested in how to fix it

[2018-07-16 04:48] ciotlosm commented on #71
This is a bug (ported from the original card) that will get fixed with a configuration setting. This will allow for either auto detection of code type (like now) or a variable to force keypad to display.

This will be added in the next Alarm card release

[2018-07-16 04:56] ciotlosm commented on #72
I don't think I will implement in first iteration overriding of default button from the UI. I think config should look like:

[code]

[2018-07-16 04:57] ciotlosm commented on #75
Is there a `demo:` component that emulates an entity that you'd like to control with such a card?

[2018-07-16 06:53] ciotlosm commented on #71
Fixed in dev, will merge to master once I fix #73 as well

[2018-07-16 06:56] ciotlosm opened #78 "Allow config for showing letters under keypad numbers"
@davec proposed:

[2018-07-16 07:44] ciotlosm commented on #73
![alarm](https://user-images.githubusercontent.com/7738048/42747472-2e456128-88e5-11e8-80ba-2521721dd291.gif)

[2018-07-16 07:48] ciotlosm commented on #73
Fixed in master now

[2018-07-16 07:48] #73 closed

[2018-07-16 07:48] ciotlosm commented on #71
Fixed in master now

[2018-07-16 07:48] #71 closed

[2018-07-16 12:56] alex-savin commented on #75
I think that should be `lock` at https://www.home-assistant.io/components/demo/

[2018-07-16 15:08] ciotlosm opened #81 "Correct alarm docs"
Currently mentions only `alarm_control_panel.manual`, but should say any alarm in domain  `alarm_control_panel`

[2018-07-16 17:56] alex-savin commented on #75
@ciotlosm is it possible to add some animation. As an example, when you click on settings icon, it's going to extend a card by opening from bottom some other panels?!

[2018-07-16 17:59] ciotlosm opened #82 "Alarm card as panel"
Correct sizing when using with `panel: true`

[2018-07-16 18:03] ciotlosm commented on #75
@alex-savin animation yes, but usually I try to avoid layout changing animations. What would it be under that settings icon?

[2018-07-16 18:15] ciotlosm opened #83 "Card tracker does not update ui-lovelace on hassio"
Card tracker does not update ui-lovelace on hassio. It shows it's updated but on refresh / check it goes back to old version. Also the `sed` temporary file is not written, so maybe a permissions problem.

[2018-07-16 18:20] ciotlosm opened #84 "Card tracker to use custom folders"
Allow card tracker to use custom folders. This would cover the case for users that just wish to `git clone` the complete `custom-lovelace` in their `www`

[2018-07-16 18:35] ciotlosm commented on #83
I think I found the bug. Fixed with https://github.com/custom-components/custom_cards/pull/8

[2018-07-16 18:35] #83 closed

[2018-07-16 20:17] ludeeus commented on #84
Added a pr to fix this <https://github.com/custom-components/custom_cards/pull/11>

[2018-07-17 07:07] ludeeus commented on #84
This is corrected in https://github.com/custom-components/custom_cards/pull/11 which is now merged and is a part of v.1.1.9 of the component.

[2018-07-17 07:30] ciotlosm commented on #70
Can this be done with template sensors and picture-elements?

[2018-07-17 07:33] swetoast commented on #70
dont know yet reinstalled from the botched update that ballop pushed

On Tue, Jul 17, 2018 at 9:32 AM Marius <notifications@github.com> wrote:

[2018-07-17 11:46] ciotlosm commented on #82
This will need migration of fixed size to`vw` and `vw` units.

[2018-07-17 21:01] ciotlosm opened #87 "Add restart for www in docs"
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-17 21:05] ciotlosm opened #88 "Add correct license (MIT) for thermostat"
<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-17 21:29] ghost opened #89 "Card that lists all attributes for a sensor (without specifying them)"
A Plex sensor in home assistant produces individual attributes for each user watching. For example:

[code]

There are other similar sensors where the attribute names aren't fixed, and there are a potentially unknown (large) number of them, so you can't specify them in yaml. Thus I'd like a card that is able to list all attributes for a given entity (with the ability to filter out some specified e

[2018-07-18 00:31] cjsmns opened #91 "bugs with iOS?"
Loving these new cards, and have set up a nice panel for my rooftop solar using the guage and big number cards. Looks awesome, except on my iPhone using both the HA app and Safari.

On loading up the Lovelace UI, I get a big red box with the following message:

`n.setConfig is not a function. (In 'n.setConfig(t)', 'n.setConfig' is undefined`

Under that is just the usual settings for the card. Thi

[2018-07-18 05:06] ciotlosm commented on #89
This can be added to entity-attributes card.

[2018-07-18 05:54] jamesking420 commented on #89
That would be great. Thank you.

You're cool.

[2018-07-18 06:00] ciotlosm commented on #88
Fixed

[2018-07-18 06:00] #88 closed

[2018-07-18 06:02] ciotlosm commented on #81
Fixed

[2018-07-18 06:02] #81 closed

[2018-07-18 06:05] #87 closed

[2018-07-19 03:12] iantrich commented on #75
@alex-savin What does a custom lock card give you that can't be had with something like an `entities` card?

https://www.home-assistant.io/lovelace/entities/

[2018-07-19 06:37] ciotlosm commented on #75
In 0.74 this will be achievable with picture-elements in the exact style you want

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-19 06:37] #75 closed

[2018-07-19 16:58] iantrich commented on #72
I would think an `auto_disarm` configuration would fall within this scope as well?

[2018-07-19 17:15] iantrich opened #104 "Custom entities card"
Create a new custom entities card allowing to control entity attributes for lights (brightness or color) and fans (speed)

Some potential inspiration: https://community.home-assistant.io/t/custom-ui-with-buttons-fan-control/13808/6

Demo Fan/Lights/Switch available: https://www.home-assistant.io/components/demo/

[2018-07-19 17:21] iantrich commented on #4
I would like to see a more traditional view option as well (non-nest) that aligns better with the card-style in Lovelace. I would think we would want to encapsulate multiple styles within a single card or suite of cards to leverage common solutions such as handling of things like the state machine.

[2018-07-19 18:27] gwww commented on #72
I have an implementation of this. It supports both the existing UX and the "`auto_arm`" UX. The code is heavily refactored from the existing. It support both arm/disarm automatically when the set number of digits are entered.

I will be posting it on my GitHub account, probably tonight. There's at least one bug that I know of in my testing. I'd be just as happy if this merges with the existing, bu

[2018-07-19 18:59] iantrich commented on #104
Having learned about how versatile the picture element card can be, I'm not sure if this would be a good use case to work on.

[2018-07-20 13:55] swetoast commented on #70
can be done via picture elements

[2018-07-20 13:55] #70 closed

[2018-07-21 08:44] ciotlosm commented on #104
Maybe entities card with the new custom rows could be explored as well.

[2018-07-21 08:46] ciotlosm commented on #72
I will have a look latest on Monday in more details. Sounds like a great idea and happy to get a PR for this. I'm currently away because of a big festival in town so less time to look at code with proper attention.

[2018-07-21 08:48] ciotlosm commented on #4
I agree. Maybe we need to create a base model for service interaction and multiple styles. However I'd rather have at start this card implemented with all services and testing and then refactor to extract common things when building a second one. What do you think?

[2018-07-21 12:10] ciotlosm opened #105 "Monster-card exclusion not working with filter.options"
Using the config below with some automations sharing the name will result in exclusion not being applied correctly.

[code]

Probably due to #45

cc: @minchik

[2018-07-21 15:46] andriej opened #106 "plan-coordinates: floating box with values"
If I want to have multiple floorplans in one card, it's impossible to read top/left values as they show just under the top panel and floorplan is further below, need of scrolling.

Would be great if box could just float and be visible all the time

[2018-07-21 15:59] ciotlosm commented on #106
Yes it can. I will do a fix for this next week

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-21 19:10] gwww commented on #78
I have refactored the code I wrote to be able to show alpha. Work to do to actually show them. Needs some HTML and CSS to do so. On my github repo.

[2018-07-22 08:30] ciotlosm commented on #105
Fixed by @minchik in #107 and #108 thanks!

[2018-07-22 08:30] #105 closed

[2018-07-22 10:11] ciotlosm commented on #78
@gwww would you be ok to merge the two cards?

[2018-07-22 12:50] gwww commented on #78
Yes, please merge

[2018-07-22 12:56] ciotlosm commented on #78
@gwww have a look here: https://github.com/ciotlosm/custom-lovelace/tree/alarm_refactor/alarm_control_panel-card

[2018-07-22 12:59] ciotlosm commented on #72
I will merge in master once last of TODO in dev are complete.

[2018-07-22 14:38] #72 closed

[2018-07-22 14:39] #78 closed

[2018-07-22 14:39] ciotlosm commented on #82
Now card supports 'scale' parameter

[2018-07-22 14:39] #82 closed

[2018-07-22 21:54] thomasloven opened #116 "input_select inside vertical-stack-in-card behaves oddly"
If any card inside a `vertical-stack-in-card` contains an `input_select` entry, it will keep flashing (there's a short animation as the `input_select` loads, and it will keep running).

This seems to be because `setConfig` of all child cards are called frequently (every time the `hass` property is updated?).

I'm not really up to speed on how things are supposed to work, but the docs tells me that

[2018-07-23 02:48] grantclem opened #117 "update to 3.0 requires a code to alarm/de-arm"
Currently have and Arlo base station (hub for security cameras) and it appears that the arm/disarm function will only work if you enter some code (any keystroke)... event tho one it is not required/used at the moment. I have set the "hide_keypad: true" and it still requires something and provides the field to do so. It can be a single entry and can be run from the services section.

[2018-07-23 07:41] ciotlosm commented on #117
This is a bug and will get corrected in 0.3.1

[2018-07-23 07:45] ciotlosm commented on #116
Ideally setConfig should be called only when stuff changes. I think the setup requires checking if setConfig was already called and to set it only if states it handles change. This is not implemented at the moment, so indeed is a bug.

[2018-07-23 07:56] ofekashery commented on #116
So [line 36](https://github.com/ciotlosm/custom-lovelace/blob/74ed986842d811dd213f8b485f1f382143d72163/vertical-stack-in-card/vertical-stack-in-card.js#L36) isn't necessary?

[2018-07-23 08:43] ciotlosm commented on #116
It is necessary, but ideally we would be doing that in setConfig of the custom card. Not sure if the card  is available in setConfig, but we can try.

[2018-07-23 08:48] ciotlosm commented on #117
Fixed in 0.3.1

[2018-07-23 08:48] #117 closed

[2018-07-23 11:00] ciotlosm commented on #89
Fixed in dev if anyone wants to test it out.

[2018-07-23 18:24] #89 closed, assigned to nobody

[2018-07-23 18:44] ciotlosm commented on #116
Make sure you continue with the issue here: https://github.com/custom-cards/vertical-stack-in-card

[2018-07-24 10:53] ciotlosm commented on #4
Just an update: I've looked again at the implementation and I think it will require at least dual-temperature support before a first release. I'm in the process of refactoring it to allow this. Probably a usable version with service integration will be available by the end of the week.

[2018-07-24 21:09] gcosta74 opened #125 "Issue with iOS-Clients"
With iOS-Devices the customer cards do not work.

iOS still uses Javascript version ES5 and it may be the reason for the error.

Here ist the error of the log-entry
`2018-07-24 23:05:53 ERROR (MainThread) [frontend.js.es5.201807200] https://home.domain.com/local/custom-lovelace/vertical-stack-in-card/vertical-stack-in-card.js:2:14 TypeError: Cannot call a class constructor without |new|
2018-07-24

[2018-07-24 23:39] ciotlosm commented on #4
Testing version available: https://github.com/ciotlosm/custom-lovelace/tree/test_thermo
No controls yet and no dual temperature, just state.

[2018-07-24 23:41] ciotlosm commented on #125
Known issue, I won't support es5 in my custom cards. Adding es5 support will require external libraries that I don't want to include.

I am using ES6 (latest) of my IOS (version 11.4) and it's working fine.

Majority of custom cards will probably have a limited lifetime as good functionality will make it to core (where libraries are available and es5 is supported).

[2018-07-24 23:41] #125 closed

[2018-07-25 09:56] cicero200272 commented on #4
Hi @ciotlosm,

I just tested it with my Tado thermostats, works like a charm. Good work!

If Tado is switched off, it has "null" as target_temperature, the thermostat shows "0" (zero) in this case. Perhaps you could change that so no target temperature at all is shown?

Another special thing about Tado: there is no "away_mode" attribute at the climate entity, but the component defines an extra sen

[2018-07-25 10:09] ciotlosm commented on #4
Added a TODO list here: https://github.com/ciotlosm/custom-lovelace/blob/test_thermo/thermostat-card/TODO.md

[2018-07-25 10:13] ciotlosm commented on #125
@gcosta74 I have it set the same under my frontend: section and for me it works without problems. If you just added that you must force a few refreshes to clear cache of the ec5 JS.

[2018-07-27 01:04] arsaboo opened #129 "Thermo card does not work properly as a custom card on picture-elements card"
I was hoping to use the thermo card on picture-elements card to display the current temperature. I added the following config:
[code]
and here's the output:
![image](https://user-images.githubusercontent.com/18319734/43296113-5315df84-9117-11e8-98a7-78d35529a9ee.png)

The white border around the thermostat should not appear. I have tried a few other custom-cards (see [here](https://github.com/arsa

[2018-07-27 07:29] ciotlosm commented on #129
Try using `no_card: true` parameter that is now available. If happy with implementation, please close the item

[2018-07-27 12:52] arsaboo commented on #129
Thanks....it mostly fixes the issue. But, there may be another bug here. I tried
[code]
I was hoping that `font-size` will change the size of the temp. Instead it moves the position of the thermostat on the card and does not change the font-size. It is not a major issue, but just thought of highlighting the same.

[2018-07-28 16:46] alex-savin commented on #4
First of all, Thank you for you work! That is impressive!

I have an issue with my thermostat card, is it possible to fix it
This is a data from my ZWave thermostat
[code]
![2018-07-28 12 42 49](https://user-images.githubusercontent.com/10366351/43358698-d10a3456-9263-11e8-9f48-581fbe6506a0.jpg)

[2018-07-29 17:08] ciotlosm opened #131 "Animated weather card"
~~https://codepen.io/ste-vg/pen/Gqakbo~~

Better version: https://codepen.io/GooeyIdeas/pen/NRvoQv

[2018-07-29 19:36] ciotlosm commented on #4
@alex-savin your data looks correct. Can you try incognito mode just to make sure it's not a caching issue? or append ?v=0.1 at the end of your resources url for the thermostat card

[2018-07-29 21:35] alex-savin commented on #4
@ciotlosm adding `?v=0.1` fixed it!
Thank you very much!

[2018-07-29 21:54] #129 closed

[2018-07-30 01:41] grantclem opened #132 "Frontend Errors"
**Getting these error in the logs**
" ERROR (MainThread) [frontend.js.latest.201807200] http://192.168.1.2:8123/local/alarm_control_panel-card.js?v=0.3.1:148:66 Uncaught TypeError: Cannot set property ‘value’ of null

**When manually trying to disarm/arm the Arlo control panel**
And this appears after a HA restart - [frontend.js.latest.201807200] http://192.168.1.2:8123/frontend_latest/app-6e4d53e

[2018-07-30 07:19] ciotlosm commented on #132
@grantclem the first error is a bug with Alarm card. I will correct it in my next release.

the second error about `_stateDisplay ` is a problem with `computeStateDisplay` but I'm not sure if it's an actual problem or a state issue on your Arlo component. For this it's best totry more tests to narrow down which component generates the error.

[2018-07-30 21:20] DanielXYZ2000 opened #135 "Gauge as bar"
Is it possible to configure the gauge as a horizontal or vertical bar?

[2018-07-30 22:14] ludeeus commented on #135
@DanielXYZ2000 have you considered this card ?
<https://github.com/ciotlosm/custom-lovelace/tree/master/bignumber-card>

[2018-07-31 03:08] rrubin0 opened #136 "entity-attributes-card.js throws an error"
Home assistant version: 0.74.2
Frontend JS version: "latest"

Error:
`2018-07-29 22:46:17 ERROR (MainThread) https://hassio/local/lovelace_cards/entity-attributes-card.js?v=1:4:30 Uncaught SyntaxError: Unexpected string`

Config (UI Lovelace):
[code]
Notes:
I am already using monster card, gauge card, and animated weather card; these are working just fine. This one errors out on me for some reason

[2018-07-31 05:12] ciotlosm commented on #136
Did you read the FAQ section? https://github.com/ciotlosm/custom-lovelace/blob/master/README.md#i-followed-all-steps-to-add-custom-component-but-i-see-javascript-errors-in-my-browser-what-happend

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-07-31 15:41] spencerwi opened #137 "Gauge card causes weird styling problems for other cards in Firefox"
I added a gauge-card to my lovelace layout, and this happened:

<img width="1532" alt="image" src="https://user-images.githubusercontent.com/2829379/43470445-8d6628d6-94b6-11e8-8891-90bc1231aaba.png">

It looks like it's applying some style that's not properly scoped to multiple cards rather than just the one.

Everything looks fine in Chrome, here's a reference image of that:

<img width="1504" a

[2018-07-31 15:58] spencerwi commented on #137
Nevermind, looks like the root cause was shadowdom and webcomponents support in Firefox being behind an about:config flag (per [the Lovelace FAQ](https://www.home-assistant.io/lovelace/#faq))

[2018-07-31 15:58] #137 closed

[2018-07-31 20:59] VDRainer opened #141 "Gauge Card severity colors and themes"
With the HA default theme the colors of the gauge card show as expected.
![auswahl_137](https://user-images.githubusercontent.com/26381449/43486805-093e9052-9515-11e8-9abc-b14bbc7f9334.png)

With a dark theme:
![auswahl_138](https://user-images.githubusercontent.com/26381449/43486832-20c06a20-9515-11e8-84c4-6f7adc1e6fc3.png)

Config:
[code]

[2018-08-01 09:10] VDRainer commented on #141
OK, sorry, found it. Depends of the '--label-badge-xxx' settings in the theme.
Changed the values frm var to fixed colors in gauge-card.js and now it works.

[2018-08-01 09:10] #141 closed

[2018-08-01 09:29] Boosik opened #143 "Group-card not loading when switching tabs"
Hi,
when I first load (or reload with F5) a tab with group card, it loads properly, however when I change to another tab and back, group cards are not loaded.

First load (or F5) on SYSTEM tab: https://i.imgur.com/mBvruUl.png
After clicking on HOME tab and then back on SYSTEM tab: https://i.imgur.com/alMTjUi.png

Reproduction rate is 100%, cards are using group.all_automations and group.all_switch

[2018-08-01 09:50] ciotlosm commented on #143
@Boosik fixed in 0.0.2

[2018-08-01 09:50] #143 closed

[2018-08-01 09:53] ciotlosm commented on #135
@DanielXYZ2000 going to close this as it's pretty much what bignumber is for

[2018-08-01 09:53] #135 closed

[2018-08-01 09:54] ciotlosm commented on #136
I think we fixed this in Discord. Can you please confirm and close?

[2018-08-01 18:36] ciotlosm commented on #4
Ok, just released version 0.0.1 🎉

[2018-08-01 18:36] #4 closed

[2018-08-01 18:37] #136 closed

[2018-08-01 19:41] hwikene opened #149 "Thermostat-card - Temperature not centerd in Firefox"
Hi! When testing the thermostar-card on Firefox the temperature is not centerd. i have set `dom.webcomponents.shadowdom.enabled` and `dom.webcomponents.customelements.enabled` to "true".
When i open it in Chrome. everything works great.

![bilde](https://user-images.githubusercontent.com/17985923/43544448-31501eb2-95d3-11e8-9113-c20612cf97d8.png)

[2018-08-02 00:21] millercentral opened #150 "Request: homekit-card"
I love the work you are doing on custom lovelace elements. I thought I would throw in a request for another custom card type: would it be possible to emulate the square button types that the iOS HomeKit UI uses:

[example](https://cdn-images-1.medium.com/max/700/1*Z4QanTlsWCwpKf-REcQ-Pw.png)

Basically it is an element that has a small icon (materialdesignicons would be ideal), location, entity na

[2018-08-02 07:06] ciotlosm commented on #150
@millercentral a square button is more like a custom element. That is not hard.

However the pain comes in how to structure multiple of those. At the moment there are a few possibilities:

- use such a custom element on top of picture-elements
- use such custom elements in a custom card with a fluid distribution like glance card
- use such custom elements in a fixed grid (either horizontal + verti

[2018-08-02 17:43] ciotlosm commented on #149
Fixed in 0.0.2

[2018-08-02 17:43] #149 closed

[2018-08-02 20:56] tube0013 opened #153 "Thermostat-card not working on iOS (app or browsers)"
I get his in teh HA app, Safari and Chrome on iOS.

![img_6386](https://user-images.githubusercontent.com/11084412/43610721-f0934564-9674-11e8-878e-0e1fb1702a43.jpg)

[2018-08-02 21:05] tube0013 commented on #153
Never mind, added javascript_version: latest to the frontend config and now working.

[2018-08-02 21:05] #153 closed

[2018-08-03 16:27] kylerw opened #154 "Thermostat - Colored only when State On (cool/heat/etc) and Fan On"
To work more closely to how the Nest app functions, the color of the dial should only be blue/orange when set to cool/heat/etc AND the fan is running.

[2018-08-03 16:56] jjlawren commented on #154
Agree with color coding, but also remember that not all heating systems utilize fan control.

[2018-08-03 22:02] ciotlosm commented on #154
This probably can be done via custom card setting. Probably this will be done after I implement the panel for controlling fan/ operation_mode & stuff.

[2018-08-03 23:00] millercentral commented on #150
I think the ideal would be the custom element type in a fluid distribution card, that way it would be easy to flow a bunch of elements from a room in to a single card.

Thanks for the link to the tileboard project, that is interesting as well.

[2018-08-04 15:55] ciotlosm opened #155 "Thermostat displays only .5 increments"
Thermostat displays only .5 increments, it should display .1 increments

[2018-08-05 08:07] swetoast opened #156 "Changes to beer card (request)"
less space between icon and list and also numbered list

[2018-08-05 09:42] philhawthorne commented on #131
hey @ciotlosm

Added the animated weather card, using dark sky instead of yweather (not sure if that's an issue?). Getting the following error

[code]

Looking at the source code for that card type, I can see the JS variable being referenced, but not set. Unless it is set from a parent?

[2018-08-05 11:02] ciotlosm commented on #131
hey @philhawthorne , the card is still in the works. As I mentioned on the show, this is currently being worked on.

It will probably be ready for use around next week as it needs a build system with the different libraries it needs.

[2018-08-05 11:41] philhawthorne opened #157 "Allow monster card when conditions similar to automation conditions"
It might be good for the monster card to support the ability to show its elements based on multiple sets of criteria.

For consistency with Home Assistant, it might be better to try use the same style conditions have.

[code]

[code]

[2018-08-05 11:43] philhawthorne commented on #131
Ahhhh right! Clearly I got too excited and want to use it straight away :)

[2018-08-05 11:44] ciotlosm commented on #157
@philhawthorne unless you need the filter of monster card to use wild cards, for static entities you're better off with <https://www.home-assistant.io/lovelace/conditional/>. Nevertheless a good option to implement.

[2018-08-05 11:45] philhawthorne commented on #157
Aha! Nice.

Thanks

[2018-08-05 12:45] ciotlosm commented on #157
Adding there another suggestion (that I will implement together with the above): Add 'else' support

[2018-08-05 18:27] VirtualL opened #158 "No "severity" colors in specific theme"
Hi , I have small problem with the custom card "bignumber-card" and also with "gauge-card"
this is how its look in HA "default" theme
<img width="532" alt="screen shot 2018-08-05 at 21 12 23" src="https://user-images.githubusercontent.com/10164935/43688619-e5f74f92-98f4-11e8-9e27-b9115c7ec051.png">
and this is how its look in "dark-mode" theme

<img width="550" alt="screen shot 2018-08-05 at 21 11

[2018-08-05 18:39] ciotlosm commented on #158
Try and define `label-badge-green`, `label-badge-yellow` and `label-badge-red` in dark theme

[2018-08-06 10:26] VirtualL commented on #158
i was try to do this , and its don't working also
_(i was clean cache , and change  to new number - url: /local/custom_components/bignumber-card.js?v=0.0.18 )_

[2018-08-08 15:48] VDRainer commented on #158
I changed the severityMap to fixed values in the gauge-card.js to avoid problems with dark themes.
[code]
Maybe add the value/style options like in the bignumber-card to the gauge severity object?
Then you don't have to hack the *.js or the theme and define the colors in the ui-lovelace.yaml.

[2018-08-10 17:59] VirtualL commented on #131
Wow Looking awesome!
Waiting for any news :)

[2018-08-10 21:29] kylerw opened #164 "Scales off across climate entities"
The set point is the same but the scale on the image is different:

![image](https://user-images.githubusercontent.com/370860/43982196-2068c8e8-9cb2-11e8-9dc5-512e6588037e.png)

70 should be at the same location for each entity

[2018-08-10 22:59] ciotlosm commented on #164
@kylerw it really depends on what your climate component reports as min/max. Probably can be added a config option to override that but at the moment it's using what the backend component is reporting.

You can use dev tools to check what min_temp/max_temp is currently reported on each of your thermostats.

[2018-08-14 07:55] stefanmechelen opened #165 "Error"
I took the raw file
implemented it
but I get this error in my log

xxx.duckdns.org:8123/local/js/gauge-card.js?v=2:7:1 Uncaught SyntaxError: Unexpected token <

and this one in the interface

custom element doesn't exist: gauge-card

file is in my /www/js folder

and in lovelace this is the code

title: Stefan's crib
resources:
  - url: /local/js/gauge-card.js?v=2
    type: js
views:
  - title: Ho

[2018-08-14 07:56] stefanmechelen commented on #165
nevermind, setting v=99 instead of 2 helped, it works now !!!

[2018-08-14 07:57] #165 closed

[2018-08-14 22:45] mihalski opened #166 "Example of state filter for monster card"
Hi,

Perhaps adding an example of a state filter to the monster-card page would be helpful for some people?
I had a lot of difficulty with this basic filter (for reasons unknown. I suspect I excluded it from the list of possibilities due to some typo or formatting error on my part).

[code]
Eventually @jeradM in #lovelace on the Discord suggested the above which

Regards,
Michal

P.S. @dale3h sugg

[2018-08-15 13:35] adonno opened #167 "left Plan-coordinates"
I seems that the left coordinates aren't shown correctly anymore

![image](https://user-images.githubusercontent.com/13216947/44150774-caede3ec-a0a0-11e8-8f2c-3fc5ef435740.png)

i also notice when the cursor is over an entity in the plan the coordinates are all off

![image](https://user-images.githubusercontent.com/13216947/44150718-9fe7ba9c-a0a0-11e8-83b2-d8ca203a9e5b.png)

[2018-08-16 13:45] adonno commented on #167
noticed that this happens when the zoom level  !=100%

[2018-08-17 14:11] vuiperez commented on #78
hi have input the files in WWW folder and on lovelace ui yaml i have this :+1:

[code]

but love lace don't start, says "reload ui-lovelace.yaml"

what i'm doing wrong?

best regards

[2018-08-19 01:14] gohassgo commented on #131
Yeah, this looks awesome. Can't wait!

[2018-08-19 20:49] MwC-Trexx opened #169 "[Feature Request] Gauge Card: Need Auto-Resizing"
It would nice if the gauge card auto-resized when using in Horizontal Stack with >2 gauges.

[2018-08-20 07:39] ciotlosm commented on #169
@MwC-Trexx I know, but the at moment you can use the 'scale' option as that works fine. You just need to get the right scale depending on how many you get in the horizontal stack.

I don't think I'll add this auto scale feature on the current version, maybe if I make an SVG version of it.

[2018-08-20 07:43] ciotlosm commented on #78
@vuiperez Please follow lovelace docs to get started with lovelace, and then go through the FAQ here: https://github.com/ciotlosm/custom-lovelace/blob/master/README.md#faq to get more things setup.

Bust first thing is to follow official docs (https://www.home-assistant.io/lovelace) and have a working lovelace UI.

[2018-08-20 07:46] ciotlosm commented on #167
@adonno I have never covered the zoom!=100%. The card is supposed to be a quick and dirty approximate way to get coordinates. If you want pixel perfect you can use something like photoshop.

I'm using the hover element, so elements already on the image from picture-elements will distort coordinates.

I'm sure I won't fix the zoom, as you can just zoom to 100% to get right coordinates and back agai

[2018-08-20 07:59] adonno commented on #167
As long as I know that I get the right coordinates at 100% that's fine for me and wanted the provide the info incase someone might encounter the same phnomenon

[2018-08-20 08:18] ciotlosm commented on #167
Thanks @adonno I will include this in the docs

[2018-08-20 08:31] ciotlosm commented on #166
Added to docs, thanks.

[2018-08-20 08:31] #166 closed

[2018-08-20 13:30] ciotlosm commented on #131
This is going slower than expected because in order to make this work I'd either need a build system or external libraries. I want to keep custom cards limited to 1 file if possible, so already evaluated StencilJS. One solution is to go with webpack but I want to retain the ability for people to read the source as it helps with contributions and debugging.

I hope I get something working at start

[2018-08-21 13:39] realroywalker opened #177 "[Feature Request] Thermostat-card - Support reading current temperature from different entity"
It would be great if the thermostat card could support displaying the current temperature from a different entity to the setpoint device.

An optional entity 'temperature_entity' (or something similar) that could be filled in with a temperature sensor entity would be ideal.
The idea being that the usual 'entity' setting is still used for the setpoint and mode commands, but 'current temperature' is

[2018-08-22 13:46] ciotlosm commented on #177
Fixed in #179

[2018-08-22 13:46] #177 closed

[2018-08-22 13:46] #169 closed

[2018-08-22 13:47] ciotlosm commented on #164
@kylerw can you let me know if min/max is identical between thermostats? You can check this in dev-info panel.

[2018-08-22 13:54] ciotlosm commented on #155
Fixed in #181

[2018-08-22 13:54] #155 closed

[2018-08-22 14:15] kylerw commented on #164
Hallway: 50/90
Theo's Room: 64/86
Bonus Bedroom: 64/86

[2018-08-22 14:35] kylerw commented on #164
Is that done in the climate entity setup?

[2018-08-22 15:31] ciotlosm commented on #164
Yes

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-23 06:15] ciotlosm commented on #164
I will close this as it's not related to the card. Please reopen if you find it's still a problem after you set min/max in the backend climate entity setup.

[2018-08-23 06:15] #164 closed

[2018-08-23 06:30] ciotlosm opened #182 "Replace input with circle in alarm card"
Replace input with circle in alarm card when code length is known in the UI, similar to https://imgur.com/gallery/6us9O5U created by @NickChamberlin

![aug-23-2018 09-30-01](https://user-images.githubusercontent.com/7738048/44508509-3b5d5b00-a6b7-11e8-82ee-02295b8b01f4.gif)

[2018-08-24 13:33] phdelodder opened #183 "Group Card not working, group-card.js?v=1:19 Uncaught TypeError: Cannot read property 'attributes' of undefined"
[code]

[code]

[2018-08-24 23:26] ciotlosm commented on #183
@phdelodder your group is invalid or empty. Use dev-info to check validity

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-08-28 09:16] mcinnes01 commented on #154
Just wondered if there is any update for this? For central heating, the dial is only orange when the target temperature is above the actual temperature. Will this be catered for? I guess using heat or cool can give you enough information about way the target temperature is going and whether to render blue or orange?

[2018-08-29 13:58] ppmt opened #184 "n.setConfig is not a function"
I am using HomeAssistant rev 0.76.2

I have seen the FAQ regarding an errotr with n.setConfig but mine is different. I am using plan-coordinates and when I load the view I get this error in red
[code]
The coordinate box doesn't display.

Here the code I use in ui-lovelace.yaml

[code]

[2018-08-29 14:04] ppmt commented on #184
in the Chromium Dev Tool I can see this error:

[code]

[2018-09-01 15:27] FezVrasta opened #186 "Disable shadow on nested cards"
If a card is nested inside another (like an entity card) the shadow should be removed from the nested card so that we don't end up with two "levels"

[2018-09-03 12:49] ciotlosm commented on #186
A card doesn't know if it's in another card (at least not through init). I guess this could be a config option for the card. Which is the card that you need this on?

[2018-09-03 12:50] ciotlosm commented on #184
Are you sure you're running frontend latest?

[2018-09-03 12:53] ppmt commented on #184
Ok. So I am going to sound stupid but how do I know if am running the latest frontend or not?

[2018-09-03 12:53] ciotlosm commented on #154
@mcinnes01 orange or blue are used when the device is in operation. It's a state of the device. I would avoid calculating this on the UI, as you could have devices (like A/C) that have cycles as well so a device might not be actually on.

The backend component should in all cases report the state of the device. You have a map that allows you to use any attribute in which the backend reports this s

[2018-09-03 12:56] ciotlosm commented on #183
@phdelodder Were you able to check if your group was correct?

[2018-09-03 14:19] FezVrasta commented on #186
AFAIK only the entity card supports nested cards, so I'd like to have it for such card, but if others support it as well then it should work there as well

[2018-09-03 15:16] ppmt commented on #184
Looking at the About page in my homeassistant instance there is a line that says:

`Frontend JavaScript version: latest `

[2018-09-04 06:34] ciotlosm commented on #184
Which browser are you using?

[2018-09-04 07:15] DoubelJ commented on #184
I have the same issue, works on laptop and mobile device but not on Rasbian with Chromium.

[2018-09-04 12:10] ppmt commented on #184
Ok some updates:

I am using Ubuntu with Firefox (version 61) and also tried on Chromium (version 68).

This morning I updated HA to 0.77.3 and now on Chromium it works. I can see the little box with the coordinates.
On Firefox it still doesn't work and in the HA logs I can see that it write the following line every few seconds
`https://xxx.yyy.org/local/plan-coordinates.js?v=3:36:1 TypeError: el.

[2018-09-12 08:58] ciotlosm commented on #184
@ppmt unfortunately as specified in the docs FF is not supported.

[2018-09-12 08:58] #184 closed

[2018-09-12 09:37] ciotlosm commented on #184
No worries. It was in the docs under Warning, but probably not as explicit.

[2018-09-18 22:21] jaburges opened #198 "Hide disarm"
Hi there,
more enhancement, but not sure where to raise.

Love the alarm card (thank you!!)

I dont want to use a code and so dont want 'disarm' visible in the UI as I have panels round the house. Apologies i cant code well enough to edit the js :(

[2018-09-20 03:51] fortepc opened #199 "Suggestion: Monster Card to Filter by device class"
Adding the ability to filter by device class would make cards like these able to be better. Being able to specify all devices that are specific device_class would make it so we wouldn't have to rely on a entity naming scheme. battery sensors, window sensors, we already class them to make them appear in the UI correctly, it would be nice to be able to lean on these to make our monster cards easier.

[2018-09-20 21:04] exetico commented on #158
Same issue here. I'm going to hardcode the value for `red`, but would for sure like to see a better option.

[2018-09-22 18:57] cwhits opened #200 "[Alarm Control Panel] Keypad doesn't show for Envisalink alarm"
I use an Envisalink with HomeAssistant to expose my DSC alarm to HomeAssistant. The keypad isn't showing for me and it looks like the `show_keypad` doesn't exist any more and `hide_keypad: False` isn't forcing it either.

I'm pulling master and running Home Assistant 0.78.3.

[2018-09-22 19:01] cwhits commented on #200
Oh shoot. I'm dumb. It doesn't look like the Envisalink component supports entering a code by hand...

[2018-09-22 19:02] cwhits commented on #200
Wait, yes it does! 🤦‍♂️

Um, so... does this work with this card?

According to the component, it should allow entering a code: https://www.home-assistant.io/components/envisalink/
[code]

[2018-09-23 20:41] mcinnes01 commented on #154
@ciotlosm  this is an example of my nest device:

current_temperature: 17.5
min_temp: 9
max_temp: 32
temperature: 19.5
operation_mode: heat
operation_list: off,heat,eco
away_mode: off
friendly_name: Upstairs
supported_features: 1153

As you can see when the mode is set to heat and the temperature is higher than the current_temperature it should be orange, when the temperature is equal or less than

[2018-09-24 15:44] rpitera opened #201 "Request: Add JSON to repos for Custom Updater compliance"
[Custom Updater](https://github.com/custom-components/custom_updater)

This project is doing a great job of helping us keep up with updates to custom cards and components.  Would be awesome if you could help by setting up the required JSON entries for your cards so we knew when there was an update!  Thanks

[2018-09-27 09:05] ciotlosm commented on #201
@rpitera I think this is already done. Any merge in this repository triggers an upstream job in that specific project and it creates the json files. I already use the card-tracker that I helped build to update my cards as well :-)

[2018-09-27 09:05] #201 closed

[2018-09-27 09:06] ciotlosm commented on #200
@cwhits this card just supports adding a keypad and send code based on default parameters by alarm components. It should work if you add it, you just need to test it.

[2018-09-27 09:08] ciotlosm commented on #199
@fortepc Can you post a config on what you had in mind? It would help out to see how you think the config should look so I can think of how this could be implemented. Sounds like a good idea.

[2018-09-27 09:09] ciotlosm commented on #198
Hey @jaburges what would be the use case? With or without the code this panel would require you to be able to use arm/disarm.

If you plan to just show the state of the alarm somewhere you're better of with a different entity that just displays state (like https://www.home-assistant.io/lovelace/picture-entity/ with state images)

[2018-09-27 09:11] ciotlosm commented on #154
@mcinnes01 can you also post the 'state' besides the attributes for your thermostat in different working conditions?

[2018-09-27 09:36] jchasey commented on #201
Hi, are there any instructions on how to setup the automatic creation of the json files etc? I have been helping with a custom component that we would be interested in adding this support.

[2018-09-27 10:42] ciotlosm commented on #201
I think it's best to move the component in the appropriate repo (https://github.com/custom-components).  I have moved some of those that were originally here in the repositories there and probably will more more in the future, but if you start fresh I recommend you start there. You would be the owner of your project but would get the benefit of the updater out of the box without any extra custom i

[2018-09-27 11:04] ArgoHA opened #203 "Font size of clear button"
Hello! Here is an issue because of Russian language. Word is longer and blocks are going crazy. To solve this issue, we can make font-size smaller, for example.

[2018-09-27 12:49] ciotlosm commented on #203
Will add support for css in a future version.

[2018-09-27 13:53] rpitera commented on #201
I see what my problem was now; I didn't have the version numbers entered for all of your cards.  Once I updated this in ui-lovelace.yaml and restarted HA, everything appeared.  Sorry to have missed this - the error was mine.  Thanks for your great work on Lovelace and for supporting custom updater!

[2018-09-28 20:59] psecto opened #204 "custom-lovelace: bignumber-card.js throttles cpu to 100%"
Hi,

I love your script, thank you for providing such knowledge to the community. I am just starting up with home assistant and I have stumbled upon your bignumber-card example. The cards work fine and I love the customisation options, however I cannot really use them in a 24/7 display as it keeps the cpu to 100% all time.

Is it possible that the script enters in a loop somehow? I am not a coder

[2018-09-28 21:08] psecto commented on #204
Nvm, please close this thread. Safari seems to have a problem with it as it runs it inside a container. Chrome works just fine.

Thanks again for this awesome script.

[2018-09-28 21:08] #204 closed

[2018-09-30 03:00] fortepc commented on #199
Sure can! I will have to remember to do that when I get home.

[2018-09-30 14:28] fortepc commented on #199
Battery Warning card

[code]

All Doors

[code]

All Windows

[code]

All Temperature Sensors

[code]

[2018-09-30 21:47] jpcaldwell30 opened #205 "Enhancement: Set temp by dragging/rotating dial for thermostat card"
For the thermostat card, in the original element on codepen, the temperature can be set by clicking the thermostat for 1 second and then dragging which "rotates" the dial. It would be great if this functionality could be added to the card because it allows for much quicker setting of the temperature without having to click a bunch of times.

[2018-10-02 18:44] Steve9F commented on #200
I'm seeing the same behavior where the buttons don't show up. The Envisalink configuration includes the disarm code and the card show the correct states information when an alarm is pending and armed. The disarm button also works correctly and will disarm using the code provided in configuration.

Even though the disarm code isn't needed it will be great if there were an additional option in the c

[2018-10-04 11:56] ezbe commented on #131
so now we can use it or it still in demo?

[2018-10-05 12:18] francesconazzaro opened #206 "Thermostat Card does not show target temperature and operating mode (it does not change the color) with climate.nest"
Hi,
I've a Nest thermostat configured in my Home Assistant. I configured the thermostat card as follows:
[code]
But the thermostat card does not show the target temperature. Furthermore when I increase or decrease the target temperature, by tapping on the widget, it starts always from 0 degrees.

Neither the operating mode is showed by changing color.

I've seen that the attributes of climate.nest

[2018-10-05 13:39] ciotlosm commented on #200
@Steve9F Now I understand your problem. Unfortunately my card won't be able to solve your problem. The way you want your setup to work is:

You want the card to show the keypad
You want the code to be sent to home assistant
You want home assistant to forward the command + this code to Envisalink

The problem is with the Envisalink that needs to support this "pass thru" for the code. I don't have a

[2018-10-05 13:39] #200 closed

[2018-10-05 13:43] ciotlosm commented on #199
Considering `device_class` is just a normal attribute you should already be able to do this with monster card.

[code]

[2018-10-05 13:44] ciotlosm commented on #204
@psecto Did you find the root cause of your 100% CPU? Might help other users if you at mentioned also the solution to your problem.

[2018-10-05 13:47] ciotlosm commented on #205
@jpcaldwell30 It depends on personal preference. After testing on smaller devices and with mouse on desktop, the drag was not really that reliable and sometimes ended up moving the temperature in unpredictable ways.

If there are more votes on this (as this feature competes with others on my list) I'd look into adding this in as a config option, but for now the benefit vs implementation complexity

[2018-10-05 13:54] psecto commented on #204
I had the impression that I've submitted already my last comment :)

Here is what I found out:

- It appears that this only happens in Safari running on MacOS. Javascript code when running in Safari, appears to run into its own app outside of the web browser itself. I don't think it's your script since I also found other javascript intensive pages which are doing the same.

Running Chrome on Mac O

[2018-10-05 13:55] ciotlosm commented on #131
@ezbe Unfortunately not. Work stagnated and probably will still go slow for a while until I sort my time schedule better.

[2018-10-05 14:10] ciotlosm commented on #206
This is the most interesting @francesconazzaro

The card uses `target_temperature` or `target_temperature_low` & `target_temperature_high` to set and maintain the target. So far the `climate` interface forced this to be mandatory, but your setup looks like it's working differently.

Does it work properly with the default "climate" entity in the old /status interface?

While the component can have

[2018-10-05 14:11] ciotlosm commented on #204
Thank you very much for the detailed comment. Very helpful to other users <3

[2018-10-05 14:40] francesconazzaro commented on #206
Hi @ciotlosm thanks for the responsive answer!

I configured `climate.nest` with the official guide here https://www.home-assistant.io/components/nest/:
[code]

I removed the `states` entry as you suggest. Now I have a different "state issue".
When the Nest is ON, it is always `orange-red`, also when it is not heating.
I guess because the `operation_mode` is `heat` also when the Nest is not heatin

[2018-10-05 15:00] francesconazzaro commented on #206
I found 2 interesting documentation pages about Nest that i haven't seen before. And it seems exactly my situation:
https://www.home-assistant.io/components/binary_sensor.nest/
https://www.home-assistant.io/components/sensor.nest/
I have all those sensors in my Home Assistant instead of having them as `climate.nest` attributes.
But I don't know why I have those sensors because I did not configured

[2018-10-12 02:07] Padre653 commented on #206
I have the same issue with NEST.

It looks like the card looks for "operation_mode" to change the color of the display. In 'climate.XXX', the nest uses operation_mode to indicate if the HVAC is set to heating or cooling which would not allow the color to change as the furnace or A/C starts running.
The nest uses 'hvac_state' to indicate the current state. The problem is, the Nest's 'climate.XXX' d

[2018-10-12 07:29] ciotlosm commented on #206
I will add it as an enhancement.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-10-14 18:23] XRyu opened #208 "Custom Attribute on Entities possible?"
Is it possible to select an other attribute for "secondary_info" than entity_id/last-change?
i would love to select an attribute from a sensor (like "magic_title" of the Tautulli-Sensor)

[2018-10-14 22:53] shreram opened #209 "Excluded entities were showing up"
I have the following snippet and expected entities in the 'exclude' section not to show up but they do. Am I missing something?

[code]

[code]

![screen shot 2018-10-14 at 5 50 33 pm](https://user-images.githubusercontent.com/16169720/46923184-d6005900-cfd9-11e8-9cd0-2f44186cc1bd.png)

[2018-10-15 22:55] xbmcnut opened #210 "[FR] Can we change the font color?"
Hey there,

Love this but it'd be great if we could manipulate the font color. Is that possible? Using it to display next tide tide time which is just text and it'd be great if I could make that blue.

![image](https://user-images.githubusercontent.com/1492137/46982791-432b0000-d13a-11e8-923f-75124a2d7b9f.png)

[2018-10-16 04:01] Spartan-II-117 opened #211 "Enhancement: allow separate heating and cooling thermostats in one dial"
It would be great to have one unified dial for both heat and Air Conditioning show up, even if you are usng separate thermostats (such as z-wave) for the actual thermostat.

[2018-10-16 10:12] ciotlosm commented on #208
@XRyu Are you refering to the official Lovelace entities card? Or which is the card that you're looking for this information?

This repository has only custom cards

[2018-10-16 10:13] ciotlosm commented on #211
I think that would make more sense to be a separate card. Not hard to do, but the complexity added for the current card would not be worth it. I will have to think how to write code for this to avoid duplication.

[2018-10-16 14:42] Spartan-II-117 commented on #211
Awesome

[2018-10-16 18:42] XRyu commented on #208
@ciotlosm Not sure (i am pretty new to lovelace)
I am doing this in the lovelace-config:

`- type: custom:monster-card
        card:
          type: entities
          title: Wer schaut was?
        filter:
          include:
            - entity_id: "sensor.tautulli_*"
              options:
                secondary_info: last-changed
`

instead of last-changed i would love to use an other attri

[2018-10-18 02:42] Spartan-II-117 opened #212 "Support slider-entity-row card from monster-card"
i currently get a blank screen from this card type when used in monster card

[2018-10-18 14:19] ciotlosm commented on #208
Unfortunately the custom card can't make changes on the functionality exposed by 'entities' card. You will need to ask for such an enhancement on the official lovelace repository.

[2018-10-18 14:19] #208 closed

[2018-10-18 14:36] #212 closed

[2018-10-18 18:52] fortepc commented on #199
Oh, fancy that. That should have been more obvious to me earlier lol. I guess I can close this then. Thanks

[2018-10-22 07:55] kernehed opened #215 "Cannot use a space in the "exclude state""
I cannot use a space in the exclude `state`, please see below.
I managed to fix it with a change of the state "Inget underlag" to "Inget".

Log and ui-lovelace.yaml below:

## Error in log:

`https://mydomain.duckdns.org:8123/local/lovelace/monster-card.js:37:32 Uncaught TypeError: _compare[operator] is not a function`

## My ui-lovelace.yaml:

[code]

[2018-10-22 20:38] dustins1983 opened #217 "One thermostat not working properly"
I have 2 next 3rd gen thermostats that work properly using the traditional HA thermostat page.

The first tstat works perfectly, and shows where heat and ac are set to  along with ambient temp.

The second one will show ambient temp, but will not show where it is currently set. Also this same thermostat does not adjust properly.

Say if it was set to 60 heat and 78 cool. If I change heat from 60,

[2018-10-23 14:17] shreram commented on #209
My bad. There were other switch entities with no underscore in the name. I fixed them and everything works perfectly.

[code]

[2018-10-29 01:30] davidmonro opened #218 "using cards inside a horizontal stack throws "hass is undefined" error"
Running HA 0.81.0
I have the following view (just taken from an example for the gauge card):
<pre>
  - id: 1  # Automatically created id
    title: Display
    icon: mdi:home-assistant
    cards:
      - id: 3c97759a8f8a40b48fcf0c4c02eb2263  # Automatically created id
        type: horizontal-stack
        cards:
          - type: custom:gauge-card
            title: Temperature
            entity

[2018-10-29 02:33] davidmonro commented on #218
Actually this seems to be a 0.81 problem based on the comments at https://community.home-assistant.io/t/0-81-new-lovelace-cards-lg-soundbars-dyson-fans-elk-m1/75277/43

[2018-10-29 02:39] davidmonro commented on #218
And it is fixed in 0.81.1. Closing the issue.

[2018-10-29 02:39] #218 closed

[2018-10-29 06:48] prigal opened #219 "[monster-card] suggestion : decide which value to show for an entity."
Hello,

Following some comments here : https://community.home-assistant.io/t/lovelace-bringing-back-entity-filter-monster-card/58701/65

We would like to be able to show battery percentage (alt value) as entity value and not the main value.

Egs : low battery alert (in french) for temperature sensors showing the main value (temperature) and not the battery level.

![capture d ecran 2018-10-29 a 07

[2018-11-02 10:08] tomeeka commented on #211
I am using conditional cards and button cards for that purpose. (conditional card is broken in 0.81, but I hope that will be fixed in the next release)

![kep](https://user-images.githubusercontent.com/41842441/47909232-910c6b80-de8f-11e8-99b2-17909c45d902.png)

[2018-11-10 15:58] gnkarn opened #220 "enhancement : thermostat card , to work cool and heat with std generic thermostat"
as the generic thermostat component is not able to work , on a heat or cool mode ( i also tested the one under development that is prepared for this ,  but is not working right ) , then one straight forward way to implement it by using std generic thermostat is configuring two of them ( one heat , one cool ), in my case targeting the same switch , as the switch itself hold the right ON command whe

[2018-11-12 16:46] francesconazzaro commented on #206
Hi @ciotlosm , are there any news on this?

[2018-11-18 22:59] AcidSleeper opened #221 "Alarm-card - Panel not showing"
Hey

Placed the .js file in the www-folder and placed  this code in my ui-lovelave.yaml
Running Home Assistant (Hassio) 0.82.1.
Whats missing? Can see the title "Larm" but nothing in it.

[code]

[2018-11-19 14:14] AcidSleeper commented on #221
Fixed! Indentation!

[2018-11-19 14:14] #221 closed

[2018-11-26 12:49] jvmonjo opened #222 "entity-attributes-card Uncaught TypeError: Cannot read property 'indexOf' of undefined"
I'm running Home Assistant with hass.io

Monster Card is working Ok. But when I try to user entity-attributes-card lovelace will crash.
This is my configuration:

[code]
The log system and Chrome dev tools are showing this error:

[code]

[2018-11-30 06:20] kvvoff opened #223 "custom alarm_control_panel-card "clear" button size fail"
Hello! How can I change the size or the names of the buttons? The "clear" button on my tongue spoiled the whole look.
![clear](https://user-images.githubusercontent.com/38342171/49272048-2bf16900-f481-11e8-973c-1d646bf0370d.png)

[2018-12-07 02:57] mihalski commented on #199
I'm having the same problem. Although I don't know if it ever worked since I've only just tried this.

[2018-12-07 15:28] faspina opened #224 "zwave thermostat"
How would you setup this for a zwave thermostate that sepearate entities for heating and cooling.

climate.family_room_thermostat_cooling_1
climate.family_room_thermostat_heating_1

[2018-12-14 19:50] hulkhaugen opened #225 "Gauge card - Using entities/templates for min/max values"
I would like the possibility to use a sensor value as minimum and maximum level for a gauge card. I have data provided from my power company, and one day the prices might vary between 0.3-0.5 pr kWh, while others might be between 0,8 and 1,8 pr kWh. So I would like the min and max to be relative to the price variations of that day.

A bonus would be to be able to specify color based on percent of

[2018-12-15 00:17] IDmedia opened #226 "Hide master switch in Home Assistant 0.84"
I've just recently upgraded my HassIO installation to 0.84.1 and noticed that all my monster-cards suddenly have "master switches" in the top right corner. Any idea why/how they can be hidden? I can't see anything in the change-log that would change this behavior.

[Screenshot](https://i.imgur.com/cyDjw7z.png)

[2018-12-18 14:21] niemyjski opened #227 "Excluded entities are still shown on the monster card."
[code]

I have several lights that are excluded from home assistant (zwave double added ge issue) and they are being included.

[2018-12-18 23:58] Mariusthvdb opened #228 "filter entities in a group?"
HI
Would it be possible to have the monster card filter all entities in a named group:

regular jinja template would be something like { % for g in state_attr('group.all_light_groups', 'entity_id') %}

[code]

or maybe even simpler, only state the group which holds the entities, and use the group card?
thx!

[2018-12-20 06:49] labachev opened #229 "Problem with Home Assistant 0.84.3"
All of these custom cards don't work in Home Assistant 0.84.3

[2018-12-24 19:17] Jeltel commented on #229
Try putting the location of the resource in via the raw configure mode.

`resources:
  - type: js
    url: /local/monster-card/monster-card.js?v0`

[2018-12-25 17:38] labachev commented on #229
The problem was:
Uncaught SyntaxError: Unexpected identifier

Fixed.

[2018-12-25 17:38] #229 closed

[2018-12-26 10:05] IVData opened #230 "monster-card.js?v=1:112:7 TypeError: this.lastChild.setConfig is not a function"
Hi there,

I am getting this error running the latest version of monster-card.js on Home Assistant 0.84.6.

I have tried loading the page on Chrome and Firefox but get the same error. Here is my config:

[code]

[2018-12-26 14:16] danobot opened #231 "Add support for custom updater"
You should include a `tracker.json` file that people can reference in their `custom_updater` configuration. This hooks into the tracker card as well.
Cloning the repository into `www` folder is kind of annoying.
Each component could have a `tracker.json` file, that way people can pick and choose which one to include.

[2019-01-04 22:31] klaasnicolaas opened #232 "Uncaught SyntaxError: Identifier 'GroupCard' has already been declared"
I got this error after loading the group card in lovelace. When opening the group card I also get a freeze in my browser.

This is my view:
[code]

[2019-01-13 05:22] sandro-defender opened #233 "custom element doesn't exist: button-card (Home Assistant 0.85.0)"
after updating to 0.85.0 my lovelace not working :(
![00001](https://user-images.githubusercontent.com/26311682/51081884-a0702680-1714-11e9-8126-aef470705b46.jpg)
[Home Assistant.pdf](https://github.com/ciotlosm/custom-lovelace/files/2752823/Home.Assistant.pdf)

[2019-01-13 05:23] #233 closed, assigned to nobody

[2019-01-24 21:47] walthowd commented on #228
+1 This would be really nice to have!

[2019-01-25 20:22] wbilger opened #238 "home-setter broken on 0.86"
Just seem to get the spinner, forever.

[2019-01-27 10:56] ciotlosm commented on #238
in 0.86 lovelace has become the default interface. You should not need home-setter anymore. I will update in the next days documentation around this.

[2019-01-27 17:50] wbilger commented on #238
I see you reopened this, did you have further thoughts? I really like this
card, the ability to set the start screen per device is really nice.
I know you can just edit the start page on kiosk, but in a family setting,
I set their Kiosk browsers up on their phones, and they can set the "Start
Page" and change it themselves anytime.

On Sun, Jan 27, 2019 at 5:58 AM Marius <notifications@github.com>

[2019-02-04 19:48] acordill commented on #238
I'm having the same problem.  When I go to https://mywebsite:8123/ it just sits there on the current page with the only difference other than the new address in the Chrome address bar.  If I then hit refresh or anything it just sits and spins like @wbilger said.

[2019-02-10 11:47] Hertizch opened #240 "No icons in alarm panel card"
I'm on 0.87 and the alarm panel card does not show icons for any state, just the circle.
[Imgur](https://i.imgur.com/tGV88TL.png)

[2019-02-10 17:36] raccettura commented on #240
this.icons needs to be updated to something like:

`    this._icons = {
      'armed_away': 'hass:shield-lock',
      'armed_custom_bypass': 'hass:security',
      'armed_home': 'hass:shield-home',
      'armed_night': 'hass:shield-home',
      'disarmed': 'hass:shield-check',
      'pending': 'hass:shield-outline',
      'triggered': 'hass:bell-ring',
    }
`

[2019-02-10 17:40] Hertizch commented on #240
Thanks, that did it!

[2019-02-11 09:28] michel72 commented on #240
Same here, hoping for a fix from the author, so I can use the tracker-card.

[2019-02-11 16:49] johntdyer commented on #231
Yes, I would really appreciate this as well !

[2019-02-16 20:36] Hertizch commented on #240
I've made a pull request #241 regarding this

[2019-02-20 14:19] TurboTronix commented on #206
How do you get the state mode to work with Ecobee3? I used this code but no operation mode is displayed:

[code]

[2019-02-21 08:48] BertilJ opened #244 "Alarm card: Buttons "missing" after 0.88 upgrade"
Looks like the buttons are missing after 0.88 upgrade, probably due to the breaking change announced regadarding this.

The card is still usable, but it looks kind of strange now.

[2019-02-22 00:40] eroji opened #245 "Ability to adjust card size?"
Is there a way to change the size of the card? The default is much larger than rest of the card elements I have and looks quite disproportional.

[2019-02-22 13:15] VirtualL commented on #245
Try to use [Card-Modder](https://github.com/thomasloven/lovelace-card-modder), and force the card size as you want.

[2019-02-25 13:01] Valiceemo opened #246 "card does not load after update to HA v0.88.1"
After updating to HA v088.1 the gauge card does not load.
error message is:
Failed to execute 'attachShadow' on 'Element': Shadow root cannot be created on a host which already hosts a shadow tree

[2019-02-26 01:00] houfukude commented on #246
same problem.

[2019-02-28 19:19] Hertizch commented on #244
Replace `paper-button` with `mwc-button`

[2019-03-01 09:49] jokerigno opened #247 "Filter Issue"
Hi,

I have a strange issue using filter.

Here's my config:

[code]

The issue is that 2 device tracker (samsung_galaxy_s7_edge and huawei_p8_lite_2017) are shown in card also if status is not_home.

[2019-03-03 12:04] billyabong commented on #246
This can be resolved if you edit the gauge-card.js file, removing line 24 `const shadow = card.attachShadow({ mode: 'open' });`.

Make sure to do a hard refresh in your broswer afterwards tho.

[2019-03-07 14:55] VDRainer commented on #246
@billyabong , YOU ARE A HERO!! :heart:

[2019-04-10 15:21] dustins1983 commented on #222
Did you get this fixed? Ive got this too

[2019-04-12 23:38] jmgarciamari commented on #222
Here the same with:
    - key: device_tracker.*

[2019-04-25 16:48] #215 closed

[2019-05-04 11:54] jerrychong25 opened #249 "How to change Thermostat colour from Blue to Black and vice versa?"
Hi all,

After installed this Thermostat card in HA, my Thermostat default colour is Blue.

How could I do to change from Blue to Black colour and vice versa?

Thanks.

[2019-05-05 08:37] BoneheadFraggle opened #250 "Suggestions for alarm_control_panel-card"
I use wall mounted cell phones with https://github.com/thanksmister/wallpanel-android as wallpanels/dashboards, thermometers, camera, motion sensors and alarm keypads which works great.

For those using the alarm_control_panel-card as alarm keypad, it would be really nice to have a different approact to the keypad:

1: (Default view):
Only show the badge - and very large. No text at all. Then it w

[2019-05-11 21:11] mclaudiopt opened #251 "time filtering"
hello
is it possible to use monster card to show only timers that are running, like showing lights that are on?

[code]

[2019-06-07 10:04] jokerigno commented on #247
up?

[2019-07-02 13:25] cdrom1028 opened #252 "Enhancement: thermostat-card HACS Support"
Please Add HACS support for ease of deployment and updates.
https://custom-components.github.io/hacs/

[2019-07-25 10:33] murmelbahn opened #253 "Wildcard in state for a filter?"
Hi,

Im using a custom sensor which has a long string as a state which is sometimes different. I’m trying to show it in a monster card but it seems that a wildcard in “state” is not working:
[code]

Maybe it is possible to do it in another way? The sensor hase a long string as a state or nothing in it. Maybe there is a solution about the empty state field?

Thanks in advance.

[2019-07-25 16:24] iantrich commented on #253
I suggest you check out https://github.com/thomasloven/lovelace-auto-entities

[2019-07-25 16:24] #253 closed

[2019-07-25 16:26] iantrich commented on #247
this card has moved to https://github.com/custom-cards/monster-card/issues

[2019-07-25 16:26] #247 closed

[2019-07-25 16:27] iantrich commented on #246
card has moved: https://github.com/custom-cards/gauge-card

[2019-07-25 16:27] #246 closed

[2019-07-25 16:27] iantrich commented on #251
card has moved: https://github.com/custom-cards/monster-card

[2019-07-25 16:27] #251 closed

[2019-07-25 16:28] iantrich commented on #228
card has moved: https://github.com/custom-cards/monster-card

[2019-07-25 16:28] #228 closed

[2019-07-25 16:28] iantrich commented on #231
custom updater is being deprecated. check out hacs

[2019-07-25 16:28] #231 closed

[2019-07-25 16:28] iantrich commented on #230
card has moved: https://github.com/custom-cards/monster-card

[2019-07-25 16:28] #230 closed

[2019-07-25 16:29] iantrich commented on #219
card has moved: https://github.com/custom-cards/monster-card

[2019-07-25 16:29] #219 closed

[2019-07-25 16:29] iantrich commented on #199
card has moved: https://github.com/custom-cards/monster-card

[2019-07-25 16:29] #199 closed

[2019-07-25 16:29] #245 closed

[2019-07-25 16:30] iantrich commented on #157
card has moved: https://github.com/custom-cards/monster-card

[2019-07-25 16:30] #157 closed

[2019-07-25 16:56] iantrich commented on #131
I believe this fills the need: https://github.com/bramkragten/custom-ui/tree/master/weather-card

[2019-07-25 16:56] #131 closed

[2019-07-25 16:57] iantrich commented on #225
card moved: https://github.com/custom-cards/gauge-card

[2019-07-25 16:57] #225 closed

[2019-07-25 16:57] iantrich commented on #156
card moved: https://github.com/custom-cards/beer-card

[2019-07-25 16:57] #156 closed

[2019-07-25 16:58] iantrich commented on #210
card moved: https://github.com/custom-cards/bignumber-card

[2019-07-25 16:58] #210 closed

[2019-07-25 16:58] iantrich commented on #158
cards moved: card moved: https://github.com/custom-cards/bignumber-card, https://github.com/custom-cards/gauge-card

[2019-07-25 16:58] #158 closed

[2019-07-25 16:59] #104 closed

[2019-07-25 16:59] iantrich commented on #222
card moved: https://github.com/custom-cards/entity-attributes-card

[2019-07-25 16:59] #222 closed

[2019-07-25 17:00] iantrich commented on #227
card moved: https://github.com/custom-cards/monster-card

[2019-07-25 17:00] #227 closed

[2019-07-25 17:00] iantrich commented on #238
card moved: https://github.com/custom-cards/home-setter

[2019-07-25 17:00] #238 closed

[2019-07-25 17:01] iantrich commented on #186
use card-mod

[2019-07-25 17:01] #186 closed

[2019-08-18 15:30] ezraholm50 commented on #244
I've replaced all `paper-button` with `mwc-button` but it still doesnt show, any idea?

[2019-08-19 15:53] mar005 commented on #211
Not sure if there is any headway here? I have a zwave thermostat that creates 4 entities of which I only use 2 to set a range for the highest temp and the lowest temp allowed and the thermostat decides if it cools or heats. I like this feature and I just change dynamically the range based on the occupancy of the house. However, as I am now trying to use the lovelace UI more on mobile instead of ho

[2019-08-19 16:30] iantrich commented on #211
This card is no longer actively maintained

[2019-09-24 13:45] jaburges commented on #198
Apologies for some reason I never got an alert about this response. Thanks for coming back to me.

[2019-09-24 13:45] #198 closed

[2019-10-15 06:14] i00 opened #254 "Monster card doesn't correctly center map"
I have the following:
[code]
Map card is square,
Map2 card works fine and fills the page correctly
Happens when a page is in panel mode only

[2019-10-28 13:38] ciotlosm commented on #150
I will close this as most custom cards are now moved to https://github.com/custom-cards

[2019-10-28 13:38] #150 closed

[2019-10-28 13:42] ciotlosm commented on #254
I will close this as most custom cards are now moved to https://github.com/custom-cards

[2019-10-28 13:42] #254 closed

[2019-10-28 13:44] ciotlosm commented on #252
I will make a few updates including hacs and probably support for UI Editor

[2019-10-28 13:46] ciotlosm commented on #249
Either edit the card code directly or wait for an enhancement to options to support this.

[2019-10-28 13:47] ciotlosm commented on #244
For which card is this?

[2019-10-28 13:47] ciotlosm commented on #232
I will close this as most custom cards are now moved to https://github.com/custom-cards

[2019-10-28 13:47] #232 closed

[2019-10-28 13:49] ciotlosm commented on #220
I'm not sure I understand the actual issue. If you have both heating and cooling defined, you should have two set-points and these should show up in the thermostat UI.

[2019-10-28 13:51] iantrich commented on #244
probably alarm panel

[2019-10-28 13:52] ciotlosm commented on #244
@iantrich thanks

[2019-10-29 22:29] jolaca01 commented on #205
+1 to this. It would be the best functionality to add in my opinion, as it would mean it is behaving really as the original nest.

[2019-11-07 12:15] james-fry commented on #252
@ciotlosm it would be great to see this in HACS. Your card is by far and away the most impressive thermostat representation I have seen.

[2019-11-10 08:44] jerrychong25 commented on #249
@ciotlosm Will wait for enhancement options for this.

Thanks!

[2019-11-24 18:52] hioctane61 commented on #206
`- type: 'custom:thermostat-card'
        title: Hallway
        entity: climate.xyz
        ambient_temperature: sensor.xyz_temp
        hvac:
          states:
            idle: 'off'
            heating: heat
          attribute: hvac_action`

[2019-11-30 13:45] patrickjane opened #255 "Where to put the JS files?"
I have a manual home assistant installation using the [venv / other user method](https://www.home-assistant.io/docs/installation/raspberry-pi/). As a result, I do have the HA installation in `/srv/homeassistant` (python files), and the configuration in `/home/homeassistant/.homeassistant`.

Thus, I do not have a `www` folder, nor a `config` folder. For using custom lovelace cards, I figured I need

[2019-12-14 23:27] jscott304 commented on #244
Any update on the button issue? I tried doing the mwc-button replace with no luck

[2019-12-20 16:06] lpt2007 opened #256 "How can I use max cube thermostat card wit modes?"
HA attributes:

[code]

I try like this but I can see modes:

[code]

[2020-01-29 10:18] b3ster opened #257 "Set Temperature is not shown correct"
Hi, first thanks a lot for your work, we really love this :)

Please see the screenshot for error description:

![settemp_console](https://user-images.githubusercontent.com/28812766/73348287-6de68c80-4289-11ea-9819-19632bf42025.PNG)

Please let me know which information could be helpful for analyses :)

[2020-02-13 02:04] carldebilly commented on #252
@ciotlosm Any progress on this?

[2020-02-13 04:09] DrJohnT commented on #252
Seems someone has published this thermostat control to HACS here:  https://github.com/fineemb/lovelace-thermostat-card

[2020-04-28 21:41] smarthome3b opened #258 "problem with alarm control panel"
I paste it in my ui-lovelace.yaml file :

[code]

and get this in google chrome error with not admin user:

`Cannot add property states, object is not extensible`

and this in safari with admin user:

`Attempted to assign to readonly property.`

HA v108.9

[2020-04-30 19:33] lancelon opened #259 "Orange"
Could have sworn when I first installed this card, when the thermostat went into heating mode, the thermostat lovelace display turned orange like the nest itself does? It doesn't do this now...?
The other thing I could have sworn it used to do is display a 'leaf' when we were in eco mode, again, doesn't do this now?
Am I going mad? Making things up?
Thanks

[2020-05-07 08:38] luwidgiani opened #260 "failed to adjust temperature"
when adjusting the temperature i get an error:
Failed to call service climate/set_temperature. expected float for dictionary value @ data['temperature']

setting the temperature will only go down and not go up, but i think it has to do with the expected float number.

lovelace:
  - type: 'custom:thermostat-card'
    title: bureau
    entity: climate.office
    no_card: true

other cards are workin

[2020-05-07 12:21] luwidgiani commented on #260
solution:
forgot min max values when not using shift

  - platform: knx
    name: Office
    temperature_address: '4/0/6'
    target_temperature_address: '4/1/6'
    target_temperature_state_address: '4/2/6'
    operation_mode_state_address: '4/5/9'
    operation_mode_address: '4/5/11'
    min_temp: 7.0
    max_temp: 32.0

[2020-05-07 12:21] #260 closed

[2020-06-24 14:32] jerrychong25 commented on #249
No longer using Home Assistant. Will close this issue.

Thanks all!

[2020-06-24 14:32] #249 closed

[2020-09-17 09:31] ciotlosm commented on #259
The addon requires a big remake for the new version of Home Assistant. I will close this issue for now and retest once I get to it.

[2020-09-17 09:31] #259 closed

[2020-09-17 09:45] ciotlosm commented on #258
@smarthome3b I recommend you switch for now to the official alarm control panel from Home Assistant (https://www.home-assistant.io/lovelace/alarm-panel/)

[2020-09-17 09:45] #258 closed

[2020-09-17 09:45] ciotlosm commented on #223
@kvvoff this card is no longer supported. Please try and switch to the official: https://www.home-assistant.io/lovelace/alarm-panel/

[2020-09-17 09:45] #223 closed

[2020-09-17 09:46] ciotlosm commented on #250
@BoneheadFraggle this card is no longer supported. Please switch to https://www.home-assistant.io/lovelace/alarm-panel/

[2020-09-17 09:46] #250 closed

[2020-09-17 09:47] ciotlosm commented on #244
@jscott304 @BertilJ Unfortunately this card is no longer supported (at least in this repository). I recommend you switch to the official one here: https://www.home-assistant.io/lovelace/alarm-panel/

[2020-09-17 09:47] #244 closed

[2020-09-17 09:47] ciotlosm commented on #203
This is no longer maintained

[2020-09-17 09:47] #203 closed

[2020-09-17 09:48] ciotlosm commented on #182
This is no longer supported. Please use: https://www.home-assistant.io/lovelace/alarm-panel/

[2020-09-17 09:48] #182 closed

[2020-09-17 09:49] ciotlosm commented on #240
This is no longer supported. Please use: https://www.home-assistant.io/lovelace/alarm-panel/

[2020-09-17 09:49] #240 closed

[2020-09-17 09:49] ciotlosm commented on #255
Group card is no longer supported in this repo

[2020-09-17 09:49] #255 closed

[2020-09-18 11:29] #206 closed

[2020-10-23 04:28] #205 closed

[2020-10-30 17:41] Vorms opened #263 "add the outside temperature"
Hello,
I use Sinope thermostat.
This card do very well the job !
I discover some bug on the thermostat.
It will be very welcome if it is possible to add the outside temperature, and the legend of the graph...
It will also be cool if it is possible to change the time scale in the history.

Many thanks for your help.
Best regards
Thierry

[2020-11-10 04:08] danielbrunt57 commented on #252
Yes, but not THIS version of the thermostat-card with `away` mode.

[2020-11-10 04:19] danielbrunt57 opened #264 "'away' option: Does not seem to to work with Nest ECO mode"
I am seeing a "Leaf" all the time.  I would presume the Leaf would only display when in 'ECO' mode?  I looked inside the code to determine how/when it displays the leaf and it looks like it is based on  'away' which is an internal boolean that is set based on the attribute I specified for the sensor but it presumes it will be either 'off' or 'on'??  I tried modifying the code to change 'on' to 'ec

[2020-11-10 04:49] danielbrunt57 opened #265 "Option to enable Eco mode from the card?"
Would it be possible to add an option on the card to trigger 'climate.set_preset_mode' to turn on Eco Mode?
[code]
Also, when in Eco mode, option to exit Eco Mode?
[code]

[2020-11-21 11:37] ciotlosm commented on #252
This is now being worked on. Currently custom adding the hacs repo works, but the card is still not usable, as it requires visual editor.
![Screenshot 2020-11-21 at 13 35 44](https://user-images.githubusercontent.com/7738048/99876306-a41d4000-2bfe-11eb-9a05-7600269d0f72.png)

Also docs require an update to show all details required to get to the right state.

[2020-11-21 20:36] ciotlosm commented on #252
Apparently to make it work better I have to move the code to a better template based on the boiler card. I'm working on a different repo for now (https://github.com/ciotlosm/lovelace-thermostat-dark-card) that is a fork of boilerplate. Once I"m happy with the setup I'll merge it in the current setup.

[2020-11-22 06:30] ciotlosm commented on #265
Might work, but until I get to this, I'm working on migration to HACS and having a visual interface in the UI when configuring so it will take a while to get to this.

[2020-11-22 06:39] #154 closed

[2020-11-22 06:40] #211 closed

[2020-11-22 06:41] #224 closed

[2020-11-22 06:42] #220 closed

[2020-11-22 06:43] ciotlosm commented on #217
It might be that this is a bug based on how the object are setup in the repo. I'm working on a new version that has better setup and uses typescript (still retro-fit of current one).

Maybe give that a try at some point.

[2020-11-22 06:43] #217 closed

[2020-11-22 06:45] ciotlosm commented on #252
I did a rollback on this repo for now and will continue development on https://github.com/ciotlosm/lovelace-thermostat-dark-card until finished.

[2020-11-22 07:06] ciotlosm commented on #264
The bug is here: https://github.com/ciotlosm/custom-lovelace/blob/16f00b12a8eb8d5d6fd96f45a25f66baccbe7a37/thermostat-card/thermostat-card.js#L41

The states while fetching the correct away mode from a sensor, try to load it in the state, and on new hass states have it populated which is wrong.

[2020-11-22 07:23] ciotlosm commented on #264
Could you try the new version with:

[code]

[2020-11-22 07:36] ciotlosm commented on #257
This problem will get fixed in the new version. I will close the issue as it will be a big refactoring. See https://github.com/ciotlosm/lovelace-thermostat-dark-card

[2020-11-22 07:36] #257 closed

[2020-11-22 07:37] ciotlosm commented on #263
You should be able to add using `ambient_temperature` config.
The details view I will add as a "config" cog later on in the new refactoring.

[2020-11-22 07:37] #263 closed

[2020-11-22 07:39] ciotlosm commented on #265
Probably this will make sense to add by clicking on the leaf to disable, but to enable probably i will just allow the detailed popup that is default from HA on some control like a cog.

[2020-11-22 07:41] ciotlosm commented on #256
What are you trying to achieve? Is your thermostat not using `hvac_modes` at all ? The preset modes seem to be more related to `away` mode, not to operation mode.

[2020-11-22 09:11] danielbrunt57 commented on #264
I will have a look at it. I figured out it's a boolean test so I modified the code to display the leaf if preset temp is less than 19.5 C. It would need to test for F or C as well as if preset is above the cool temp min for Eco, which I do not know as I only have heat. The Leaf display now matches my Nest display. For a more general implementation though, there would need to be an option to set th

[2020-11-22 14:22] ciotlosm commented on #264
I've merged the big refactoring. I think it should work now with less hassle. The interface was not really updated to the latest home-assistant standard. It should be better now. You should just drop hvac and away from your setup.

[2020-11-22 14:40] ciotlosm commented on #252
This was merged and also added to the offical repo: https://github.com/hacs/default/pull/711#event-4024848858

[2020-11-22 14:40] #252 closed

[2020-11-22 17:53] ciotlosm commented on #259
This should be fixed.

[2020-11-23 11:44] danielbrunt57 commented on #264
Man!  I typed a lengthy reply but before hitting `Comment` my browser died!
Thanks for the vast improvements!
[code]
is working nicely but I still prefer my template though rather than the `preset_mode` as it more accurately reflects the state of the leaf on the Nest which is based on the actual temperature setpoint being < 19.5 C or 67.1 F (not sure what the cooling valuie is).
[code]
There are a

[2020-11-23 12:34] ciotlosm commented on #264
Hey @danielbrunt57, thanks for the feedback. Could I close the issue and open a new one with the enhancement requests?

Could you maybe send an image to better understand how you'd like this to look?

So the temperature index (target) should have a longer stem? Maybe an image could help me out

This I'm not sure I understand, but if you could also add this in a picture would be great.

[2020-11-23 13:51] bacarrdy opened #266 "tab is empty and all other values empty in appdaemon dash"
My config looks very simple now while testing. After restarting appdaemon i can see only clock (i have bolded in layout that at end i`m loading climatecontrol_test)

title: TEST TITLE
widget_dimensions: [120, 120]
widget_size: [1, 1]
widget_margins: [5, 5]
columns: 8

resources:
  - url: /local/community/lovelace-thermostat-dark-card/thermostat-dark-card.js
    type: module

climatecontrol_test:

[2020-11-23 13:55] ciotlosm commented on #266
@bacarrdy if you are using the new version (compiled version in releases), you should switch to using: `custom:thermostat-dark-card`

[2020-11-23 13:58] bacarrdy commented on #266
i have tryed that before reporting bug:

  - type: custom:thermostat-dark-card

i`m using docker and installed from HACS
I`m quite new with hassio, but seems i checked everything many times and should work

[2020-11-23 14:02] ciotlosm commented on #266
This URL might be wrong: `/local/community/lovelace-thermostat-dark-card/thermostat-dark-card.js`
Try using the one HACS recommends you on install

[2020-11-23 16:45] danielbrunt57 opened #267 "I'd like to see the temperature in the center of the dial display"
There are a few differences between your dark thermostat and the nest app.
I'd like to see the temperature in the center of the dial display:

If
  preset_mode is 'eco`
    "ECO"
Else
If climate.living_room state is:
`heat`:
  "HEAT SET TO"
  climate.living_room_temperature
`cool`
  "COOLING SET TO"
  climate.living_room_temperature
`off'`:
  "OFF"

Additionally, the size of the current_temperatur

[2020-11-23 16:46] danielbrunt57 commented on #264
Most certainly!  I've created a new enhancement request...

[2020-11-23 16:46] #264 closed

[2020-11-23 16:48] danielbrunt57 commented on #267
While we're at it, the gap between the indexes and the outer edge of the dial is much larger than Nest app...

![image](https://user-images.githubusercontent.com/49846893/99990440-a69ba900-2d68-11eb-8847-36623e43e8ca.png)

[2020-11-23 20:29] bacarrdy commented on #266
resources:
  - url: /hacsfiles/lovelace-thermostat-dark-card/thermostat-dark-card.js
    type: module

climatecontrol_test:
  - type: custom:thermostat-dark-card
    entity: climate.2au_hvac_darbo_k_mode
    title: test
    step: 1

Tryed minimal version and followed your instruction to find out correct directory, but i still have same issue an notihing in logs

[2020-11-24 08:44] ciotlosm commented on #266
@bacarrdy can you check javascript console on the browser? If nothing works, I'm happy to try a debugging session on discord (hacs discord).

[2020-11-24 08:56] bacarrdy commented on #266
`jquery-3.1.1.min.js:2 jQuery.Deferred exception: Unable to process binding "text: function(){return error }"
Message: error is not defined ReferenceError: Unable to process binding "text: function(){return error }"
Message: error is not defined
    at text (eval at parseBindingsString (http://192.168.1.201:5050/javascript/knockout-3.4.1.js:68:172), <anonymous>:3:57)
    at update (http://192.168.

[2020-11-24 10:10] ciotlosm commented on #266
The error there seems to be related to some other system on your setup. The card is not displaying probably because Javascript errors out before it gets to processing the card. Could you check whatever is using that Knockout and remove it temporary to see if the card works?

[2020-11-25 21:56] danielbrunt57 commented on #265
I think I prefer what I have created [here](https://community.home-assistant.io/t/my-nest-thermostat-card-config-using-thermostat-dark-card/248773) using custom:browser-mod, custom:card-mod, custom:vertical-stack-in-card, custom:thermostat-dark-card and custom:button-card to create a Nest App-like display, rather than mucking up the nice nest-like dial, especially if you get to the other enhanceme

[2020-12-02 09:10] ciotlosm commented on #265
Implementation of such a new menu within the card using SVG is a bigger change and requires that section to have a complete refactoring. This will have a lower priority until I get to the refactoring for the SVG part.

[2020-12-02 16:24] danielbrunt57 commented on #256
I agree.  `hvac_modes` only says 'auto'.  The thermostat manual at https://www.eq-3.com/downloads/download/max/bda_portal/BC-TC-C-WM-4_UM_EN.pdf does not provide much info.  I see `Automatic mode` (Auto), `manual mode` (Manu), `holiday function` ( ), `boost function` ( BOOST ), `open-window function` ( ),
`operating lock` ( ).  Perhaps the attribute hvac_modes changes value when the thermostat cha

[2020-12-02 16:42] ciotlosm commented on #256
@danielbrunt57 The states mapped here are now the default for climate entity in home assistant. If you are able to use the thermostat in home-assistant would be great if you could go to Home Assistant > Developer Tools and post here what your entity attributes are whenever your thermostat is in one of the states that you want represented.

Yes, the states I use are in https://github.com/ciotlosm/l

[2020-12-03 00:21] sstefanowski opened #268 "Can we have transparent backround?"
This thermostat looks awsome. I tried to use it but has minor issue - It's not a bug  - just useful extension maybe...

Can we have an option to make it "transparent" - just control to control opacity?
I'm asking as I'm using picture backgrounds in my current thermostat controls (overriding background and unfortunately your control is not transparent and I cannot figure out which CSS to override :

[2020-12-03 08:09] ciotlosm commented on #268
Can you please post a sample config for your card setup so I can test when getting to implementing this?

[2020-12-03 08:50] sstefanowski commented on #268
Sure....

Install card-mod from thomasloven and use "style" modificator.
BTW. To make your thermostat transparent I guess... just some CSS style need to be overriden (just like ha-card.background below), but I cannot figure out, what style is controling the circle.
I tried to inspect using Chrome DevTools but I was unable to find it quickly - do you know?

This is my config. I just changed the typ

[2020-12-04 07:16] ciotlosm commented on #268
@sstefanowski the css is here: https://github.com/ciotlosm/lovelace-thermostat-dark-card/blob/master/src/thermostat-dark-card.ts#L184

You might try (until I get to testing) to redo:
[code]

To achieve color on numbers & icons you might try:

[code]

[2020-12-04 23:08] sstefanowski commented on #268
Thanks for all hints. I'm nearly there.
This is what I achieved:
![image](https://user-images.githubusercontent.com/36473471/101221976-1d01aa80-3689-11eb-80ce-4c1861681be8.png)

And I guess you don't have to deal with transparency if there is good setup with card-mod (My current config on the bottom of the page).

Now, I think there are still issues. I'm using climate devices integrated via TuyaSm

[2020-12-10 23:01] kimme1024 opened #269 "Toggle state"
**Is your feature request related to a problem? Please describe.**
As I'm using my thermostats manually from time to time, I toggle between `heat` and `off`. Somehow I can't find out how to get this option in this card.

**Describe the solution you'd like**
I'd like to be able to toggle between `heat` and `off` via this card.
It might also just be me who's overlooking something stupid... If so, fe

[2020-12-21 13:30] ciotlosm commented on #267
Thanks for all the details. I will probably get to this after the holidays.

[2020-12-21 20:04] danielbrunt57 commented on #267
I'm working on a sensor which will estimate the time_to_temp.  If/when successful, it will be possible for the card to display `IN 50 MIN`.

[2021-01-27 04:50] danielbrunt57 opened #271 "Allow me to specify an entity to display it's state inside the dial above the temperature..."
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I'd like the ability to specify an entity I've created which carries a message based upon a calculated time-to-temp.
See screenshot below...

**Describe alternatives you've considered**
N/A

**Additional context**
![image](https://user-images.githubusercontent.com/49846893/105944214-b741f700

[2021-01-27 04:53] danielbrunt57 opened #272 "Not really a bug but a request for insight..."
I looked inside the js code but I am lost!
Where does this value "21.5" come from???

![image](https://user-images.githubusercontent.com/49846893/105944581-73032680-6018-11eb-83f1-b70afea18c9e.png)

[2021-02-13 04:58] backslashV opened #273 "Setting certain fill colors based on sun state"
Hi,
I'd like to set some fill colors differently based on the sun state. How can I assign color values in the typescript portion and access them in css? I can get the sun state in typescript and make color decisions based on that but don't know how I can access them in the css portion.

Thanks

[2021-02-15 00:54] jjprz opened #274 "Manual installation without hacs"
Is there any way to install the plugin without having hacs library installed?

[2021-02-15 07:52] ciotlosm commented on #274
Yes, you can use the "releases" files and install it manually.

[2021-02-15 07:53] ciotlosm commented on #273
Can you post your example with sun state ? Ideally you can just add a class based on the sun, and override the colors with the extra class in css.

[2021-02-15 08:00] ciotlosm commented on #272
The value with 21.5 is a bug because on the dial I only use .5 or fixed numbers instead of the actual value. I think there was a previous request to have in the center of the dial the value for the target instead of the actual temperature. I will get to configure this at some point to allow to change it from settings.

There is also another issue opened to update the look for the dial ticks to be

[2021-02-19 14:17] FaBRiK74 opened #275 "Coloring issue"
Not sure if it is issue or feature. I have a thermostat with a relay which has two outputs. One is for heating (when the set temperature is higher than the room temp) and one is for not heating (the set temp is lower than room's temp). I use it for cooling as well when the set temp is lower than room temp. But I have some issues whith coloring. My thermostat has 3 hvac_action: off, idle, heat
I’d

[2021-02-21 01:02] fribse commented on #269
I'm trying to figure this out as well. I love the card's layout, very simple and square, perfect for a cellphone interface.
Our thermostats are shown like this in the developmenttools:
![image](https://user-images.githubusercontent.com/13660621/108612394-b3bc4880-73e8-11eb-9575-8bc6380767a8.png)
So I tried to make this config:
[code]
In the hopes it would show the state, but no, no state showing.

[2021-03-14 21:09] carvan commented on #269
Same here. I really like this card but I don't see any way to toggle the climate on and off as well as switch from schedule to manual. This is the main reason why I'm not currently using it.

[2021-04-19 00:53] backslashV commented on #273
On second thought I am not sure if I can get entity values in typsecript. Please let me know if it's feasible.

[2021-04-19 00:55] backslashV opened #276 "Cooling/heating fill colors won't change"
I have modified the hex colors for
[code]
in thermostat-dark-card.js, but the colors aren't changing upon reboot. They still shows the original blue and orange colors. Any ideas why?

[2021-05-13 21:37] Yonny24 opened #279 "No buttons"
I can't seem to get the buttons (modes or up/down buttons) to appear on mine. Just the dial with the current temp.

HACS and HA all up to date with the latest versions.

`type: 'custom:thermostat-dark-card'
step: '0.5'
hvac:
  states:
    idle: idle
    cooling: cooling
    heating: heating
  attribute: operation_mode
chevron_size: '50'
pending: '3'
idle_zone: '2'
entity: climate.downstairs
sensor

[2021-05-28 18:43] ischorr opened #280 "Add the ability to change operation mode"
**Describe the solution you'd like**
There doesn't currently seem to be a way to change mode, unless I'm missing it.

Being able to switch between at least:
Cooling
Heat
Fan
Off

...would be very useful.

Currently I'm not seeing a way to toggle between heat and cooling mode, for example.  Or just to toggle fan, or to toggle off completely.

[2021-06-09 17:17] Spirituss opened #281 "There is no disarm button when alarm is triggered"
Marius, thanks for your card!
But I found a bug - there is no disarm button when alarm is triggered:
![db26aba00ad4a824ad213e04de69dc8bf9a2d64a](https://user-images.githubusercontent.com/47206760/121399907-9abbb100-c95f-11eb-8c18-d97f3e502911.png)
So there is no way to disarm or arm again the alarm.

**Checklist:**

- [ ] I updated to the latest version available
- [ ] I cleared the cache of my br

[2021-06-12 02:14] iSteeb commented on #280
Second this!  Seems like it should be a default feature, right?

[2021-06-12 02:15] iSteeb commented on #269
Adding to this thread, card is somewhat useless without this ability :(

[2021-10-04 09:40] amaciuc opened #284 "Overlapping of away mode icon with power on/off icon"
![image](https://user-images.githubusercontent.com/19391765/135829073-b6f74b64-54f2-46cd-95cd-0b50101ba1e5.png)

**Checklist:**

- [x] I updated to the latest version available
- [x] I cleared the cache of my browser

**Release with the issue:**
0.0.5
**Last working release (if known):**

**Browser and Operating System:**

**Description of problem:**

**Javascript errors shown in the web inspector

[2021-10-05 12:52] mikesn31 opened #285 "toggle / nest issue"
After the latest update that added the power button to the dial it is not turning the Nest thermostat OFF, in fact it is changing the HVAC mode to AUTO. Also when you select fan only it does the same thing.

**Checklist:**

- [ ] I updated to the latest version available
- [ ] I cleared the cache of my browser

**Release with the issue:**

**Last working release (if known):**

**Browser and Operat

[2021-10-07 08:38] loki-sft opened #286 "manually overwrite range_min / range_max from entity not working"
I tried to overwrite range_min and range_max manually but it still uses the values from the entity.
entity values:  range_min: 4.5   range_max: 30.5
my yaml values:      range_min: 17   range_max: 30

the gauge still shows full range from 4 to 30 and I can change the value vom 4.5 to 30.5

[2021-10-12 00:42] abigdeel commented on #280
For thermostats that support it, a dual Heat-Cool mode would also be greatly appreciated. My thermostat is usually in that mode through the year.

That, and a timed fan option, would be amazing. Pretty much perfect otherwise.

[2021-10-14 18:50] ischorr opened #287 "toggle / ecobee issue"
**Checklist:**

- [ x I updated to the latest version available
- [x] I cleared the cache of my browser

**Release with the issue:**
0.0.5

**Last working release (if known):**
n/a

**Description of problem:**

Great to see a new update, couple issues seen with the new toggle feature, though.  In my case, with an ecobee setup with fan, heat, cool, auto support:

- Toggle off works, but there's no

[2021-11-13 06:46] jessiewestlake commented on #287
I notice the dual range, heat/cool mode cards do not show the temperature on the hash marks unless it is actively running to heat or cool. I see this even in your video, is it intentional?

[2021-11-13 06:48] jessiewestlake commented on #287
This happens to me too, except it’s because the thermostat will go from idle to off, but when you set it back to heat/cool or heat or cool, it stays in off mode until the temperature triggers an action (either heat or cool). So it’s not the fault of the integration.

[2021-11-13 06:52] swingerman commented on #287
I guess yes, I never worked on that part though.

[2021-11-19 18:11] borshchanskyi commented on #274
Hi, @ciotlosm
Please provide instructions on "how to install the card manually" in README.md
Because it's not clear
Thank you)

[2021-11-30 13:21] Eyco1981 opened #289 "Wrong temperature shown when rounding figures"
**Checklist:**

- [X] I updated to the latest version available
- [X] I cleared the cache of my browser

**Release with the issue:**
0.0.5

**Last working release (if known):**

**Browser and Operating System:**
Firefox / Chrome (Windows 11)
Firefox Mobile (Android 10)

**Description of problem:**
When a temperature sensor with two decimal values, the values are rounded to a one decimal value.
If

[2022-01-19 07:08] jeffgoh commented on #287
I can turn off, but I cannot turn on using the "power button" - to turn on, I need to click on the temperature and click either the up or down chevron - so close, yet so far. Any hints how to fix?

[2022-01-24 08:09] swingerman commented on #287
The owners of this repo don't seem to have time to review any PR"s or issues, so I don't know how to help here. I would spend my free time fixing any issues but it's no point if no one will review them and merge them.

[2022-05-16 11:28] Guenni75 opened #292 "BBBIIIIIGGGG"
Is there a simple way to resize this f...... Big Thing??

[2022-07-14 09:51] ZuhauseSYD opened #294 "Downsize the card so I can get 3 or 4 in a row"
The images of the carsd are really big, id like to scale them down somewhat, like you can with images for  simple cards.
A way to resize on percent or something just so i can fot a row of 3 thermostats rather than  row of 2 like it seems right now.

I tried to create a horizontal stack but it didn't seem tor ender, like it was fixed or something

[2022-07-18 08:34] RenWal commented on #294
The cards scale by their available width. If you add more columns, that would also give you more rows. Another workaround would be to resort to https://github.com/thomasloven/lovelace-card-mod to apply some custom CSS restricting the size of the card.

[2022-07-22 16:37] 5746787689 opened #296 "Ability to make the card "read only""
The card is working well, but it allows the children to mess around and change the thermostats. The physical thermostats in the rooms themselves are all locked, preventing changes.

Would it be possible to stop any changes to the set temperature and powering on/off? Ideally I would like the card to create a view that is informational only, and not actually allowed to change the settings.

Thanks!

[2022-09-01 22:26] Nome200 opened #297 "Customizable hold action"
Hello,
i didn't find any way to do it currently, but it would be really nice to customize the hold/right-click action. I would love to have a custom popup.